In [1]:
# The goal of this notebut is to clean and catergoized the data that will be used
# for  "Best State/Country/City to Live/Move in United States" independent project

In [2]:
# importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [3]:
# path_to_the_imput_folder
input_path = '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data'

output_path = '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output data'

In [4]:
# Recursively collect all .csv, .xls, and .xlsx files
data_files = []

for root, dirs, files in os.walk(input_path):
    for file in files:
        if file.endswith(('.csv', '.xls', '.xlsx')):
            full_path = os.path.join(root, file)
            data_files.append(full_path)

# Show all collected file paths
print(data_files)

['/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/file_2_speed of internet.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/file_3_cost-of-living-index-by-state-2025.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/file_1.xlsx', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/School financing/elsec14t.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/School financing/elsec14.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/School financing/elsec14_sttables.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Multidimenational/analytic_data2024.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Multidimenational/analytic_data2021.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Multidimenational/analytic_data2020.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Multidimenational/analytic_data2022.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Multidimenational/analytic_data2023.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Rent/fmr_2023_clean.xlsx', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Rent/fmr_2021.xlsx', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Rent/fmr_2020.xlsx', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Rent/fmr_2022_clean.xlsx', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Rent/fmr_2024.xlsx', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Income/ACSDT5Y2023.B19013-Column-Metadata.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Income/file_4_median_income.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/population/ACSST5Y2023.S0101-Column-Metadata.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/population/ACSST5Y2023.S0101-Data.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/population/ACSST1Y2023.S0101-Data.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/population/ACSST1Y2023.S0101-Column-Metadata.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Diversity/file_6_diversityindex.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Diversity/file_5_ACSDP5Y2023.DP05-Data.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Diversity/ACSDP5Y2023.DP05-Column-Metadata.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Taxes/2025 State Income Tax Rates and Brackets  Tax Foundation.csv', '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Taxes/LOST_January_2025_-_2_12_update.xlsx']

In [5]:
# Step 1: Find the full path for 'file_1.xlsx'
file_path = [f for f in data_files if f.endswith("file_1.xlsx")][0]  # Gets the first match

# Step 2: Load it into a DataFrame
file_1 = pd.read_excel(file_path)

# Step 3: Check the first few rows
file_1.head()

     State          County    2020    2021    2022    2023    2024
0  Alabama  Autauga County   58909   59191   59736   60436   61464
1  Alabama  Baldwin County  233244  239411  246577  254107  261608
2  Alabama  Barbour County   24975   24517   24722   24644   24358
3  Alabama     Bibb County   22176   22344   21983   21890   22258
4  Alabama   Blount County   59110   59050   59491   59777   60163

In [6]:
# Step 3: Check the first few rows
file_1.tail()

        State             County   2020   2021   2022   2023   2024
3139  Wyoming  Sweetwater County  42196  41630  41322  41288  41273
3140  Wyoming       Teton County  23384  23613  23341  23368  23272
3141  Wyoming       Uinta County  20461  20690  20722  20724  20621
3142  Wyoming    Washakie County   7663   7727   7728   7736   7662
3143  Wyoming      Weston County   6817   6747   6872   6828   6866

In [7]:
file_1.duplicated().sum()  # How many duplicate rows

0

In [8]:
file_1.isnull().sum() # How many nulls

State     0
County    0
2020      0
2021      0
2022      0
2023      0
2024      0
dtype: int64

Cost of living index

In [10]:
# Loading cost of living data frame 

# Step 1: Find the full path for 'file_1.xlsx'
file_path = [f for f in data_files if f.endswith("file_3_cost-of-living-index-by-state-2025.csv")][0]  # Gets the first match

file_3 = pd.read_csv(file_path)

# Step 3: Check the first few rows
file_3.head()

,stateFlagCode,state,CostOfLivingIndex_CostOfLivingIndex_num_2024,CostOfLivingIndex_GroceriesCostsIndex_num_2024,CostOfLivingIndex_HousingCostsIndex_num_2024,CostOfLivingIndex_UtilitiesCostsIndex_num_2024,CostOfLivingIndex_TransportationCostsIndex_num_2024,CostOfLivingIndex_HealthCostsIndex_num_2024,CostOfLivingIndex_MiscCostsIndex_num_2024,CostOfLivingIndex_CostOfLivingIndex_num_2023,CostOfLivingIndex_GroceriesCostsIndex_num_2023,CostOfLivingIndex_HousingCostsIndex_num_2023,CostOfLivingIndex_UtilitiesCostsIndex_num_2023,CostOfLivingIndex_TransportationCostsIndex_num_2023,CostOfLivingIndex_HealthCostsIndex_num_2023,CostOfLivingIndex_MiscCostsIndex_num_2023
0,NaN,Hawaii,186.9,130.4,310.0,198.0,133.3,121.1,130.5,179.0,125.6,309.7,141.1,140.3,118.4,123.8
1,NaN,Massachusetts,145.9,104.4,218.8,150.0,109.5,125.7,115.3,148.4,105.0,219.5,126.1,127.5,112.6,125.8
2,NaN,California,144.8,111.7,208.7,139.8,136.7,107.7,115.3,134.5,112.3,186.5,124.8,124.1,106.4,110.9
3,NaN,District of Columbia,141.9,105.8,222.4,102.6,107.7,117.4,113.3,148.7,106.9,241.8,110.2,107.9,104.7,117.7
4,NaN,Alaska,123.8,127.1,118.0,152.8,114.3,150.0,118.9,124.4,127.4,118.1,148.1,121.9,149.8,118.8

In [11]:
# droping stateFlagCode column
file_3 = file_3.drop("stateFlagCode",  axis = 1)

In [12]:
list(file_3.columns) # listing all columns in order to compare and decide

['state',
 'CostOfLivingIndex_CostOfLivingIndex_num_2024',
 'CostOfLivingIndex_GroceriesCostsIndex_num_2024',
 'CostOfLivingIndex_HousingCostsIndex_num_2024',
 'CostOfLivingIndex_UtilitiesCostsIndex_num_2024',
 'CostOfLivingIndex_TransportationCostsIndex_num_2024',
 'CostOfLivingIndex_HealthCostsIndex_num_2024',
 'CostOfLivingIndex_MiscCostsIndex_num_2024',
 'CostOfLivingIndex_CostOfLivingIndex_num_2023',
 'CostOfLivingIndex_GroceriesCostsIndex_num_2023',
 'CostOfLivingIndex_HousingCostsIndex_num_2023',
 'CostOfLivingIndex_UtilitiesCostsIndex_num_2023',
 'CostOfLivingIndex_TransportationCostsIndex_num_2023',
 'CostOfLivingIndex_HealthCostsIndex_num_2023',
 'CostOfLivingIndex_MiscCostsIndex_num_2023']

After comparision of data for 2023 and 2024, as well as data for 2024 by Statistica I've decided to continue with data of 2024

file_3[['state', 'CostOfLivingIndex_CostOfLivingIndex_num_2024','CostOfLivingIndex_CostOfLivingIndex_num_2023']]

In [14]:
# droping columns for 2023
file_3 = file_3.drop(['CostOfLivingIndex_CostOfLivingIndex_num_2023',
 'CostOfLivingIndex_GroceriesCostsIndex_num_2023',
 'CostOfLivingIndex_HousingCostsIndex_num_2023',
 'CostOfLivingIndex_UtilitiesCostsIndex_num_2023',
 'CostOfLivingIndex_TransportationCostsIndex_num_2023',
 'CostOfLivingIndex_HealthCostsIndex_num_2023',
 'CostOfLivingIndex_MiscCostsIndex_num_2023'],  axis = 1)

In [15]:
# renaming column names

In [16]:
file_3 = file_3.rename(columns={
    'state': 'State',
    'CostOfLivingIndex_CostOfLivingIndex_num_2024': 'COL_Total_2024',
    'CostOfLivingIndex_GroceriesCostsIndex_num_2024': 'COL_Groceries_2024',
    'CostOfLivingIndex_HousingCostsIndex_num_2024': 'COL_Housing_2024',
    'CostOfLivingIndex_UtilitiesCostsIndex_num_2024': 'COL_Utilities_2024',
    'CostOfLivingIndex_TransportationCostsIndex_num_2024': 'COL_Transport_2024',
    'CostOfLivingIndex_HealthCostsIndex_num_2024': 'COL_Health_2024',
    'CostOfLivingIndex_MiscCostsIndex_num_2024': 'COL_Misc_2024'
})

file_3.head()

,State,COL_Total_2024,COL_Groceries_2024,COL_Housing_2024,COL_Utilities_2024,COL_Transport_2024,COL_Health_2024,COL_Misc_2024
0,Hawaii,186.9,130.4,310.0,198.0,133.3,121.1,130.5
1,Massachusetts,145.9,104.4,218.8,150.0,109.5,125.7,115.3
2,California,144.8,111.7,208.7,139.8,136.7,107.7,115.3
3,District of Columbia,141.9,105.8,222.4,102.6,107.7,117.4,113.3
4,Alaska,123.8,127.1,118.0,152.8,114.3,150.0,118.9

In [17]:
file_3.tail()

,State,COL_Total_2024,COL_Groceries_2024,COL_Housing_2024,COL_Utilities_2024,COL_Transport_2024,COL_Health_2024,COL_Misc_2024
46,Alabama,88.0,97.2,69.5,100.0,90.8,87.0,95.6
47,Mississippi,87.9,96.3,73.9,88.9,89.8,99.3,93.3
48,Kansas,87.0,94.8,72.4,98.7,90.1,94.5,90.8
49,Oklahoma,85.7,95.4,68.6,95.4,90.7,96.6,90.4
50,West Virginia,84.1,99.0,59.9,96.6,93.1,97.7,90.2

In [18]:
# saving the file 

file_3.to_csv(f"{output_path}/file_3_cleaned_cost_of_living_2024.csv", index=False)
print("File saved successfully at:", output_path)

File saved successfully at: /Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output data

Working median_income data

In [20]:
# Loading median income data frame 

# Find the full path for file path and get right data
file_path = [f for f in data_files if f.endswith("file_4_median_income.csv")][0]  # Gets the first match

file_4 = pd.read_csv(file_path)

# Step 3: Check the first few rows
file_4.head()

,GEO_ID,NAME,B19013_001E,B19013_001M,Unnamed: 4
0,Geography,Geographic Area Name,Estimate!!Median household income in the past ...,Margin of Error!!Median household income in th...,NaN
1,0500000US01001,"Autauga County, Alabama",69841,5512,NaN
2,0500000US01003,"Baldwin County, Alabama",75019,2751,NaN
3,0500000US01005,"Barbour County, Alabama",44290,2762,NaN
4,0500000US01007,"Bibb County, Alabama",51215,6678,NaN

In [21]:
file_4.columns

Index(['GEO_ID', 'NAME', 'B19013_001E', 'B19013_001M', 'Unnamed: 4'], dtype='object')

In [22]:
file_4 = file_4.drop(['GEO_ID', 'Unnamed: 4'], axis = 1)
print("Done")

Done

In [23]:
file_4 = file_4.drop(0, axis = 0)

In [24]:
file_4.head()

                      NAME B19013_001E B19013_001M
1  Autauga County, Alabama       69841        5512
2  Baldwin County, Alabama       75019        2751
3  Barbour County, Alabama       44290        2762
4     Bibb County, Alabama       51215        6678
5   Blount County, Alabama       61096        3328

In [25]:
# Spliting Name column

file_4[['County', 'State']] = file_4['NAME'].str.split(',', expand = True)
# Drop the original 'NAME' column
file_4 = file_4.drop('NAME', axis=1)
print("Done")

Done

In [26]:
file_4 = file_4.rename(columns={
    'B19013_001E': 'Median_income',
    'B19013_001M': 'Error_margin'
})

In [27]:
file_4.head()

  Median_income Error_margin          County     State
1         69841         5512  Autauga County   Alabama
2         75019         2751  Baldwin County   Alabama
3         44290         2762  Barbour County   Alabama
4         51215         6678     Bibb County   Alabama
5         61096         3328   Blount County   Alabama

In [28]:
file_4 = file_4[['State', 'County', 'Median_income', 'Error_margin']]
print("Done")

Done

In [29]:
# Loading the dataset for diversity and more

# Find the full path for 'file_1.xlsx'
file_path = [f for f in data_files if f.endswith("file_5_ACSDP5Y2023.DP05-Data.csv")][0]  # Gets the first match

file_5 = pd.read_csv(file_path)

# Step 3: Check the first few rows
file_5.head()

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/3869337593.py:6: DtypeWarning: Columns (2,4,6,8,10,12,13,14,15,16,18,20,22,24,26,27,28,29,30,32,33,34,35,36,37,38,40,41,42,44,45,46,47,48,50,52,54,56,58,60,62,66,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,138,139,140,141,142,143,144,145,146,147,148,149,150,152,154,155,156,157,158,159,160,161,162,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,192,194,198,200,201,202,203,204,206,208,210,212,214,215,216,217,218,220,221,222,223,226,228,229,230,232,233,234,235,236,238,240,242,246,248,250,254,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,326,327,328,329,330,331,332,333,334,335,336,337,338,340,342,343,344,345,346,347,348,349,350,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,372,374,375,376,377) have mixed types. Specify dtype option on import or set low_memory=False.
  file_5 = pd.read_csv(file_path)

,GEO_ID,NAME,DP05_0001E,DP05_0001M,DP05_0002E,DP05_0002M,DP05_0003E,DP05_0003M,DP05_0004E,DP05_0004M,...,DP05_0090PM,DP05_0091PE,DP05_0091PM,DP05_0092PE,DP05_0092PM,DP05_0093PE,DP05_0093PM,DP05_0094PE,DP05_0094PM,Unnamed: 378
0,Geography,Geographic Area Name,Estimate!!SEX AND AGE!!Total population,Margin of Error!!SEX AND AGE!!Total population,Estimate!!SEX AND AGE!!Total population!!Male,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Female,Margin of Error!!SEX AND AGE!!Total population...,Estimate!!SEX AND AGE!!Total population!!Sex r...,Margin of Error!!SEX AND AGE!!Total population...,...,Percent Margin of Error!!HISPANIC OR LATINO AN...,Percent!!Total housing units,Percent Margin of Error!!Total housing units,"Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...","Percent!!CITIZEN, VOTING AGE POPULATION!!Citiz...","Percent Margin of Error!!CITIZEN, VOTING AGE P...",NaN
1,0500000US01001,"Autauga County, Alabama",59285,*****,28669,263,30616,263,93.6,1.7,...,0.7,(X),(X),44761,(X),47.8,0.4,52.2,0.4,NaN
2,0500000US01003,"Baldwin County, Alabama",239945,*****,117316,153,122629,153,95.7,0.2,...,0.3,(X),(X),184665,(X),48.1,0.1,51.9,0.1,NaN
3,0500000US01005,"Barbour County, Alabama",24757,*****,12906,119,11851,119,108.9,2.1,...,0.4,(X),(X),19201,(X),53.3,0.3,46.7,0.3,NaN
4,0500000US01007,"Bibb County, Alabama",22152,*****,11824,147,10328,147,114.5,3.0,...,0.9,(X),(X),17469,(X),53.5,0.6,46.5,0.6,NaN

In [30]:
list(file_5.columns)

['GEO_ID',
 'NAME',
 'DP05_0001E',
 'DP05_0001M',
 'DP05_0002E',
 'DP05_0002M',
 'DP05_0003E',
 'DP05_0003M',
 'DP05_0004E',
 'DP05_0004M',
 'DP05_0005E',
 'DP05_0005M',
 'DP05_0006E',
 'DP05_0006M',
 'DP05_0007E',
 'DP05_0007M',
 'DP05_0008E',
 'DP05_0008M',
 'DP05_0009E',
 'DP05_0009M',
 'DP05_0010E',
 'DP05_0010M',
 'DP05_0011E',
 'DP05_0011M',
 'DP05_0012E',
 'DP05_0012M',
 'DP05_0013E',
 'DP05_0013M',
 'DP05_0014E',
 'DP05_0014M',
 'DP05_0015E',
 'DP05_0015M',
 'DP05_0016E',
 'DP05_0016M',
 'DP05_0017E',
 'DP05_0017M',
 'DP05_0018E',
 'DP05_0018M',
 'DP05_0019E',
 'DP05_0019M',
 'DP05_0020E',
 'DP05_0020M',
 'DP05_0021E',
 'DP05_0021M',
 'DP05_0022E',
 'DP05_0022M',
 'DP05_0023E',
 'DP05_0023M',
 'DP05_0024E',
 'DP05_0024M',
 'DP05_0025E',
 'DP05_0025M',
 'DP05_0026E',
 'DP05_0026M',
 'DP05_0027E',
 'DP05_0027M',
 'DP05_0028E',
 'DP05_0028M',
 'DP05_0029E',
 'DP05_0029M',
 'DP05_0030E',
 'DP05_0030M',
 'DP05_0031E',
 'DP05_0031M',
 'DP05_0032E',
 'DP05_0032M',
 'DP05_0033E',
 'DP05_0033M',
 'DP05_0034E',
 'DP05_0034M',
 'DP05_0035E',
 'DP05_0035M',
 'DP05_0036E',
 'DP05_0036M',
 'DP05_0037E',
 'DP05_0037M',
 'DP05_0038E',
 'DP05_0038M',
 'DP05_0039E',
 'DP05_0039M',
 'DP05_0040E',
 'DP05_0040M',
 'DP05_0041E',
 'DP05_0041M',
 'DP05_0042E',
 'DP05_0042M',
 'DP05_0043E',
 'DP05_0043M',
 'DP05_0044E',
 'DP05_0044M',
 'DP05_0045E',
 'DP05_0045M',
 'DP05_0046E',
 'DP05_0046M',
 'DP05_0047E',
 'DP05_0047M',
 'DP05_0048E',
 'DP05_0048M',
 'DP05_0049E',
 'DP05_0049M',
 'DP05_0050E',
 'DP05_0050M',
 'DP05_0051E',
 'DP05_0051M',
 'DP05_0052E',
 'DP05_0052M',
 'DP05_0053E',
 'DP05_0053M',
 'DP05_0054E',
 'DP05_0054M',
 'DP05_0055E',
 'DP05_0055M',
 'DP05_0056E',
 'DP05_0056M',
 'DP05_0057E',
 'DP05_0057M',
 'DP05_0058E',
 'DP05_0058M',
 'DP05_0059E',
 'DP05_0059M',
 'DP05_0060E',
 'DP05_0060M',
 'DP05_0061E',
 'DP05_0061M',
 'DP05_0062E',
 'DP05_0062M',
 'DP05_0063E',
 'DP05_0063M',
 'DP05_0064E',
 'DP05_0064M',
 'DP05_0065E',
 'DP05_0065M',
 'DP05_0066E',
 'DP05_0066M',
 'DP05_0067E',
 'DP05_0067M',
 'DP05_0068E',
 'DP05_0068M',
 'DP05_0069E',
 'DP05_0069M',
 'DP05_0070E',
 'DP05_0070M',
 'DP05_0071E',
 'DP05_0071M',
 'DP05_0072E',
 'DP05_0072M',
 'DP05_0073E',
 'DP05_0073M',
 'DP05_0074E',
 'DP05_0074M',
 'DP05_0075E',
 'DP05_0075M',
 'DP05_0076E',
 'DP05_0076M',
 'DP05_0077E',
 'DP05_0077M',
 'DP05_0078E',
 'DP05_0078M',
 'DP05_0079E',
 'DP05_0079M',
 'DP05_0080E',
 'DP05_0080M',
 'DP05_0081E',
 'DP05_0081M',
 'DP05_0082E',
 'DP05_0082M',
 'DP05_0083E',
 'DP05_0083M',
 'DP05_0084E',
 'DP05_0084M',
 'DP05_0085E',
 'DP05_0085M',
 'DP05_0086E',
 'DP05_0086M',
 'DP05_0087E',
 'DP05_0087M',
 'DP05_0088E',
 'DP05_0088M',
 'DP05_0089E',
 'DP05_0089M',
 'DP05_0090E',
 'DP05_0090M',
 'DP05_0091E',
 'DP05_0091M',
 'DP05_0092E',
 'DP05_0092M',
 'DP05_0093E',
 'DP05_0093M',
 'DP05_0094E',
 'DP05_0094M',
 'DP05_0001PE',
 'DP05_0001PM',
 'DP05_0002PE',
 'DP05_0002PM',
 'DP05_0003PE',
 'DP05_0003PM',
 'DP05_0004PE',
 'DP05_0004PM',
 'DP05_0005PE',
 'DP05_0005PM',
 'DP05_0006PE',
 'DP05_0006PM',
 'DP05_0007PE',
 'DP05_0007PM',
 'DP05_0008PE',
 'DP05_0008PM',
 'DP05_0009PE',
 'DP05_0009PM',
 'DP05_0010PE',
 'DP05_0010PM',
 'DP05_0011PE',
 'DP05_0011PM',
 'DP05_0012PE',
 'DP05_0012PM',
 'DP05_0013PE',
 'DP05_0013PM',
 'DP05_0014PE',
 'DP05_0014PM',
 'DP05_0015PE',
 'DP05_0015PM',
 'DP05_0016PE',
 'DP05_0016PM',
 'DP05_0017PE',
 'DP05_0017PM',
 'DP05_0018PE',
 'DP05_0018PM',
 'DP05_0019PE',
 'DP05_0019PM',
 'DP05_0020PE',
 'DP05_0020PM',
 'DP05_0021PE',
 'DP05_0021PM',
 'DP05_0022PE',
 'DP05_0022PM',
 'DP05_0023PE',
 'DP05_0023PM',
 'DP05_0024PE',
 'DP05_0024PM',
 'DP05_0025PE',
 'DP05_0025PM',
 'DP05_0026PE',
 'DP05_0026PM',
 'DP05_0027PE',
 'DP05_0027PM',
 'DP05_0028PE',
 'DP05_0028PM',
 'DP05_0029PE',
 'DP05_0029PM',
 'DP05_0030PE',
 'DP05_0030PM',
 'DP05_0031PE',
 'DP05_0031PM',
 'DP05_0032PE',
 'DP05_0032PM',
 'DP05_0033PE',
 'DP05_0033PM',
 'DP05_0034PE',
 'DP05_0034PM',
 'DP05_0035PE',
 'DP05_0035PM',
 'DP05_0036PE',
 'DP05_0036PM',
 'DP05_0037PE',
 'DP05_0037PM',
 'DP05_0038PE',
 'DP05_0038PM',
 'DP05_0039PE',
 'DP05_0039PM',
 'DP05_0040PE',
 'DP05_0040PM',
 'DP05_0041PE',
 'DP05_0041PM',
 'DP05_0042PE',
 'DP05_0042PM',
 'DP05_0043PE',
 'DP05_0043PM',
 'DP05_0044PE',
 'DP05_0044PM',
 'DP05_0045PE',
 'DP05_0045PM',
 'DP05_0046PE',
 'DP05_0046PM',
 'DP05_0047PE',
 'DP05_0047PM',
 'DP05_0048PE',
 'DP05_0048PM',
 'DP05_0049PE',
 'DP05_0049PM',
 'DP05_0050PE',
 'DP05_0050PM',
 'DP05_0051PE',
 'DP05_0051PM',
 'DP05_0052PE',
 'DP05_0052PM',
 'DP05_0053PE',
 'DP05_0053PM',
 'DP05_0054PE',
 'DP05_0054PM',
 'DP05_0055PE',
 'DP05_0055PM',
 'DP05_0056PE',
 'DP05_0056PM',
 'DP05_0057PE',
 'DP05_0057PM',
 'DP05_0058PE',
 'DP05_0058PM',
 'DP05_0059PE',
 'DP05_0059PM',
 'DP05_0060PE',
 'DP05_0060PM',
 'DP05_0061PE',
 'DP05_0061PM',
 'DP05_0062PE',
 'DP05_0062PM',
 'DP05_0063PE',
 'DP05_0063PM',
 'DP05_0064PE',
 'DP05_0064PM',
 'DP05_0065PE',
 'DP05_0065PM',
 'DP05_0066PE',
 'DP05_0066PM',
 'DP05_0067PE',
 'DP05_0067PM',
 'DP05_0068PE',
 'DP05_0068PM',
 'DP05_0069PE',
 'DP05_0069PM',
 'DP05_0070PE',
 'DP05_0070PM',
 'DP05_0071PE',
 'DP05_0071PM',
 'DP05_0072PE',
 'DP05_0072PM',
 'DP05_0073PE',
 'DP05_0073PM',
 'DP05_0074PE',
 'DP05_0074PM',
 'DP05_0075PE',
 'DP05_0075PM',
 'DP05_0076PE',
 'DP05_0076PM',
 'DP05_0077PE',
 'DP05_0077PM',
 'DP05_0078PE',
 'DP05_0078PM',
 'DP05_0079PE',
 'DP05_0079PM',
 'DP05_0080PE',
 'DP05_0080PM',
 'DP05_0081PE',
 'DP05_0081PM',
 'DP05_0082PE',
 'DP05_0082PM',
 'DP05_0083PE',
 'DP05_0083PM',
 'DP05_0084PE',
 'DP05_0084PM',
 'DP05_0085PE',
 'DP05_0085PM',
 'DP05_0086PE',
 'DP05_0086PM',
 'DP05_0087PE',
 'DP05_0087PM',
 'DP05_0088PE',
 'DP05_0088PM',
 'DP05_0089PE',
 'DP05_0089PM',
 'DP05_0090PE',
 'DP05_0090PM',
 'DP05_0091PE',
 'DP05_0091PM',
 'DP05_0092PE',
 'DP05_0092PM',
 'DP05_0093PE',
 'DP05_0093PM',
 'DP05_0094PE',
 'DP05_0094PM',
 'Unnamed: 378']

In [31]:
# Check if all values in each column are numeric
all_numeric = file_5.applymap(lambda x: isinstance(x, (int, float))).all()

# List of columns that are not fully numeric
non_numeric_columns = all_numeric[all_numeric == False].index.tolist()
print(non_numeric_columns)

['GEO_ID', 'NAME', 'DP05_0001E', 'DP05_0001M', 'DP05_0002E', 'DP05_0002M', 'DP05_0003E', 'DP05_0003M', 'DP05_0004E', 'DP05_0004M', 'DP05_0005E', 'DP05_0005M', 'DP05_0006E', 'DP05_0006M', 'DP05_0007E', 'DP05_0007M', 'DP05_0008E', 'DP05_0008M', 'DP05_0009E', 'DP05_0009M', 'DP05_0010E', 'DP05_0010M', 'DP05_0011E', 'DP05_0011M', 'DP05_0012E', 'DP05_0012M', 'DP05_0013E', 'DP05_0013M', 'DP05_0014E', 'DP05_0014M', 'DP05_0015E', 'DP05_0015M', 'DP05_0016E', 'DP05_0016M', 'DP05_0017E', 'DP05_0017M', 'DP05_0018E', 'DP05_0018M', 'DP05_0019E', 'DP05_0019M', 'DP05_0020E', 'DP05_0020M', 'DP05_0021E', 'DP05_0021M', 'DP05_0022E', 'DP05_0022M', 'DP05_0023E', 'DP05_0023M', 'DP05_0024E', 'DP05_0024M', 'DP05_0025E', 'DP05_0025M', 'DP05_0026E', 'DP05_0026M', 'DP05_0027E', 'DP05_0027M', 'DP05_0028E', 'DP05_0028M', 'DP05_0029E', 'DP05_0029M', 'DP05_0030E', 'DP05_0030M', 'DP05_0031E', 'DP05_0031M', 'DP05_0032E', 'DP05_0032M', 'DP05_0033E', 'DP05_0033M', 'DP05_0034E', 'DP05_0034M', 'DP05_0035E', 'DP05_0035M', 'DP05_0036E', 'DP05_0036M', 'DP05_0037E', 'DP05_0037M', 'DP05_0038E', 'DP05_0038M', 'DP05_0039E', 'DP05_0039M', 'DP05_0040E', 'DP05_0040M', 'DP05_0041E', 'DP05_0041M', 'DP05_0042E', 'DP05_0042M', 'DP05_0043E', 'DP05_0043M', 'DP05_0044E', 'DP05_0044M', 'DP05_0045E', 'DP05_0045M', 'DP05_0046E', 'DP05_0046M', 'DP05_0047E', 'DP05_0047M', 'DP05_0048E', 'DP05_0048M', 'DP05_0049E', 'DP05_0049M', 'DP05_0050E', 'DP05_0050M', 'DP05_0051E', 'DP05_0051M', 'DP05_0052E', 'DP05_0052M', 'DP05_0053E', 'DP05_0053M', 'DP05_0054E', 'DP05_0054M', 'DP05_0055E', 'DP05_0055M', 'DP05_0056E', 'DP05_0056M', 'DP05_0057E', 'DP05_0057M', 'DP05_0058E', 'DP05_0058M', 'DP05_0059E', 'DP05_0059M', 'DP05_0060E', 'DP05_0060M', 'DP05_0061E', 'DP05_0061M', 'DP05_0062E', 'DP05_0062M', 'DP05_0063E', 'DP05_0063M', 'DP05_0064E', 'DP05_0064M', 'DP05_0065E', 'DP05_0065M', 'DP05_0066E', 'DP05_0066M', 'DP05_0067E', 'DP05_0067M', 'DP05_0068E', 'DP05_0068M', 'DP05_0069E', 'DP05_0069M', 'DP05_0070E', 'DP05_0070M', 'DP05_0071E', 'DP05_0071M', 'DP05_0072E', 'DP05_0072M', 'DP05_0073E', 'DP05_0073M', 'DP05_0074E', 'DP05_0074M', 'DP05_0075E', 'DP05_0075M', 'DP05_0076E', 'DP05_0076M', 'DP05_0077E', 'DP05_0077M', 'DP05_0078E', 'DP05_0078M', 'DP05_0079E', 'DP05_0079M', 'DP05_0080E', 'DP05_0080M', 'DP05_0081E', 'DP05_0081M', 'DP05_0082E', 'DP05_0082M', 'DP05_0083E', 'DP05_0083M', 'DP05_0084E', 'DP05_0084M', 'DP05_0085E', 'DP05_0085M', 'DP05_0086E', 'DP05_0086M', 'DP05_0087E', 'DP05_0087M', 'DP05_0088E', 'DP05_0088M', 'DP05_0089E', 'DP05_0089M', 'DP05_0090E', 'DP05_0090M', 'DP05_0091E', 'DP05_0091M', 'DP05_0092E', 'DP05_0092M', 'DP05_0093E', 'DP05_0093M', 'DP05_0094E', 'DP05_0094M', 'DP05_0001PE', 'DP05_0001PM', 'DP05_0002PE', 'DP05_0002PM', 'DP05_0003PE', 'DP05_0003PM', 'DP05_0004PE', 'DP05_0004PM', 'DP05_0005PE', 'DP05_0005PM', 'DP05_0006PE', 'DP05_0006PM', 'DP05_0007PE', 'DP05_0007PM', 'DP05_0008PE', 'DP05_0008PM', 'DP05_0009PE', 'DP05_0009PM', 'DP05_0010PE', 'DP05_0010PM', 'DP05_0011PE', 'DP05_0011PM', 'DP05_0012PE', 'DP05_0012PM', 'DP05_0013PE', 'DP05_0013PM', 'DP05_0014PE', 'DP05_0014PM', 'DP05_0015PE', 'DP05_0015PM', 'DP05_0016PE', 'DP05_0016PM', 'DP05_0017PE', 'DP05_0017PM', 'DP05_0018PE', 'DP05_0018PM', 'DP05_0019PE', 'DP05_0019PM', 'DP05_0020PE', 'DP05_0020PM', 'DP05_0021PE', 'DP05_0021PM', 'DP05_0022PE', 'DP05_0022PM', 'DP05_0023PE', 'DP05_0023PM', 'DP05_0024PE', 'DP05_0024PM', 'DP05_0025PE', 'DP05_0025PM', 'DP05_0026PE', 'DP05_0026PM', 'DP05_0027PE', 'DP05_0027PM', 'DP05_0028PE', 'DP05_0028PM', 'DP05_0029PE', 'DP05_0029PM', 'DP05_0030PE', 'DP05_0030PM', 'DP05_0031PE', 'DP05_0031PM', 'DP05_0032PE', 'DP05_0032PM', 'DP05_0033PE', 'DP05_0033PM', 'DP05_0034PE', 'DP05_0034PM', 'DP05_0035PE', 'DP05_0035PM', 'DP05_0036PE', 'DP05_0036PM', 'DP05_0037PE', 'DP05_0037PM', 'DP05_0038PE', 'DP05_0038PM', 'DP05_0039PE', 'DP05_0039PM', 'DP05_0040PE', 'DP05_0040PM', 'DP05_0041PE', 'DP05_0041PM', 'DP05_0042PE', 'DP05_0042PM', 'DP05_0043PE', 'DP05_0043PM', 'DP05_0044PE', 'DP05_0044PM', 'DP05_0045PE', 'DP05_0045PM', 'DP05_0046PE', 'DP05_0046PM', 'DP05_0047PE', 'DP05_0047PM', 'DP05_0048PE', 'DP05_0048PM', 'DP05_0049PE', 'DP05_0049PM', 'DP05_0050PE', 'DP05_0050PM', 'DP05_0051PE', 'DP05_0051PM', 'DP05_0052PE', 'DP05_0052PM', 'DP05_0053PE', 'DP05_0053PM', 'DP05_0054PE', 'DP05_0054PM', 'DP05_0055PE', 'DP05_0055PM', 'DP05_0056PE', 'DP05_0056PM', 'DP05_0057PE', 'DP05_0057PM', 'DP05_0058PE', 'DP05_0058PM', 'DP05_0059PE', 'DP05_0059PM', 'DP05_0060PE', 'DP05_0060PM', 'DP05_0061PE', 'DP05_0061PM', 'DP05_0062PE', 'DP05_0062PM', 'DP05_0063PE', 'DP05_0063PM', 'DP05_0064PE', 'DP05_0064PM', 'DP05_0065PE', 'DP05_0065PM', 'DP05_0066PE', 'DP05_0066PM', 'DP05_0067PE', 'DP05_0067PM', 'DP05_0068PE', 'DP05_0068PM', 'DP05_0069PE', 'DP05_0069PM', 'DP05_0070PE', 'DP05_0070PM', 'DP05_0071PE', 'DP05_0071PM', 'DP05_0072PE', 'DP05_0072PM', 'DP05_0073PE', 'DP05_0073PM', 'DP05_0074PE', 'DP05_0074PM', 'DP05_0075PE', 'DP05_0075PM', 'DP05_0076PE', 'DP05_0076PM', 'DP05_0077PE', 'DP05_0077PM', 'DP05_0078PE', 'DP05_0078PM', 'DP05_0079PE', 'DP05_0079PM', 'DP05_0080PE', 'DP05_0080PM', 'DP05_0081PE', 'DP05_0081PM', 'DP05_0082PE', 'DP05_0082PM', 'DP05_0083PE', 'DP05_0083PM', 'DP05_0084PE', 'DP05_0084PM', 'DP05_0085PE', 'DP05_0085PM', 'DP05_0086PE', 'DP05_0086PM', 'DP05_0087PE', 'DP05_0087PM', 'DP05_0088PE', 'DP05_0088PM', 'DP05_0089PE', 'DP05_0089PM', 'DP05_0090PE', 'DP05_0090PM', 'DP05_0091PE', 'DP05_0091PM', 'DP05_0092PE', 'DP05_0092PM', 'DP05_0093PE', 'DP05_0093PM', 'DP05_0094PE', 'DP05_0094PM']

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1577892894.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  all_numeric = file_5.applymap(lambda x: isinstance(x, (int, float))).all()

In [32]:
# Split 'NAME' into 'County' and 'State'
file_5[['County', 'State']] = file_5['NAME'].str.split(', ', expand=True)

In [33]:
# Exclude only NAME, County, and State
exclude_cols = ['NAME', 'County', 'State']

# Identify all other columns to convert
cols_to_convert = file_5.columns.difference(exclude_cols)

# Convert them to numeric
file_5[cols_to_convert] = file_5[cols_to_convert].apply(pd.to_numeric, errors='coerce')

In [34]:
file_5.dtypes

GEO_ID          float64
NAME             object
DP05_0001E      float64
DP05_0001M      float64
DP05_0002E      float64
                 ...
DP05_0094PE     float64
DP05_0094PM     float64
Unnamed: 378    float64
County           object
State            object
Length: 381, dtype: object

In [35]:
# Create grouped age categories based on federal-aligned brackets
file_5["Young_Children"] = file_5["DP05_0005E"]  # Age 0–4
file_5["Children"] = file_5["DP05_0006E"] + file_5["DP05_0007E"]  # Ages 5–14
file_5["Adolescents"] = file_5["DP05_0008E"]  # Ages 15–19
file_5["Young_Adults"] = file_5["DP05_0009E"]  # Ages 20–24
file_5["Emerging_Workforce"] = file_5["DP05_0010E"]  # Ages 25–34
file_5["Prime_Working_Age"] = file_5["DP05_0011E"] + file_5["DP05_0012E"]  # Ages 35–54
file_5["Pre_Retirement"] = file_5["DP05_0013E"] + file_5["DP05_0014E"]  # Ages 55–64
file_5["Seniors"] = (
    file_5["DP05_0015E"] + file_5["DP05_0016E"] + file_5["DP05_0017E"]
)  # Ages 65+

# Preview the new age group columns to confirm they were created correctly
file_5[[
    "County", "State",
    "Young_Children", "Children", "Adolescents", "Young_Adults",
    "Emerging_Workforce", "Prime_Working_Age",
    "Pre_Retirement", "Seniors"
]].head()

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Young_Children"] = file_5["DP05_0005E"]  # Age 0–4
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Children"] = file_5["DP05_0006E"] + file_5["DP05_0007E"]  # Ages 5–14
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Adolescents"] = file_5["DP05_0008E"]  # Ages 15–19
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Young_Adults"] = file_5["DP05_0009E"]  # Ages 20–24
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Emerging_Workforce"] = file_5["DP05_0010E"]  # Ages 25–34
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Prime_Working_Age"] = file_5["DP05_0011E"] + file_5["DP05_0012E"]  # Ages 35–54
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Pre_Retirement"] = file_5["DP05_0013E"] + file_5["DP05_0014E"]  # Ages 55–64
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1385975680.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Seniors"] = (

,County,State,Young_Children,Children,Adolescents,Young_Adults,Emerging_Workforce,Prime_Working_Age,Pre_Retirement,Seniors
0,Geographic Area Name,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Autauga County,Alabama,3430.0,7749.0,3922.0,3417.0,7605.0,15806.0,7882.0,9474.0
2,Baldwin County,Alabama,12448.0,29231.0,14603.0,11675.0,26412.0,59732.0,34518.0,51326.0
3,Barbour County,Alabama,1380.0,2885.0,1425.0,1439.0,3400.0,6058.0,3289.0,4881.0
4,Bibb County,Alabama,1069.0,2608.0,1348.0,1196.0,3111.0,6050.0,3014.0,3756.0

In [36]:
# Define race columns and total population column
race_cols = [
    "DP05_0082E",  # White
    "DP05_0088E",  # Black
    "DP05_0089E",  # AIAN
    "DP05_0090E",  # Asian
    "DP05_0091E",  # NHPI
    "DP05_0092E",  # Some Other Race
    "DP05_0093E",  # Two or More Races
]

# Calculate proportions (pᵢ)
race_proportions = file_5[race_cols].div(file_5["DP05_0001E"], axis=0)

# Calculate Diversity Index = 1 - sum(pᵢ²)
file_5["Diversity_Index"] = 1 - (race_proportions ** 2).sum(axis=1)

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/3509463110.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5["Diversity_Index"] = 1 - (race_proportions ** 2).sum(axis=1)

In [37]:
# Show selected columns + Diversity Index for first 10 rows
file_5.loc[:, [
    "County", "State", "DP05_0001E",  # Total population
    "DP05_0082E", "DP05_0088E", "DP05_0089E",  # White, Black, AIAN
    "DP05_0090E", "DP05_0091E", "DP05_0092E", "DP05_0093E",  # Asian, NHPI, Other, 2+
    "Diversity_Index"
]].head(10)

,County,State,DP05_0001E,DP05_0082E,DP05_0088E,DP05_0089E,DP05_0090E,DP05_0091E,DP05_0092E,DP05_0093E,Diversity_Index
0,Geographic Area Name,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
1,Autauga County,Alabama,59285.0,42497.0,1912.0,397.0,1515.0,24731.0,44761.0,21386.0,-0.389768
2,Baldwin County,Alabama,239945.0,195347.0,8248.0,1594.0,6654.0,128518.0,184665.0,88784.0,-0.680908
3,Barbour County,Alabama,24757.0,10807.0,381.0,58.0,323.0,11702.0,19201.0,10230.0,-0.186656
4,Bibb County,Alabama,22152.0,16333.0,395.0,44.0,351.0,9090.0,17469.0,9352.0,-0.512707
5,Blount County,Alabama,59292.0,50374.0,1876.0,575.0,1301.0,24793.0,43866.0,21697.0,-0.579490
6,Bullock County,Alabama,10157.0,2143.0,156.0,67.0,89.0,4554.0,7847.0,4292.0,-0.021326
7,Butler County,Alabama,18807.0,9531.0,239.0,5.0,234.0,9841.0,14452.0,6543.0,-0.242477
8,Calhoun County,Alabama,116141.0,81098.0,3176.0,310.0,2866.0,53271.0,89916.0,42639.0,-0.433497
9,Chambers County,Alabama,34450.0,18575.0,616.0,80.0,536.0,16427.0,26764.0,12398.0,-0.251743

In [38]:
import pandas as pd

# List of race/ethnicity columns you want to calculate proportions for
race_columns = [
    "DP05_0037E",  # White alone
    "DP05_0038E",  # Black or African American alone
    "DP05_0039E",  # American Indian and Alaska Native alone
    "DP05_0047E",  # Asian alone
    "DP05_0055E",  # Native Hawaiian and Other Pacific Islander alone
    "DP05_0060E",  # Some Other Race alone
    "DP05_0061E"   # Two or More Races
]

# Assuming 'file_5' is your DataFrame, and 'DP05_0001E' is the total population column
file_5['total_population'] = file_5['DP05_0001E']

# Calculate proportions for each group by dividing by the total population
proportions = file_5[race_columns].div(file_5['total_population'], axis=0)

# Add proportions to your DataFrame for reference
file_5_proportions = pd.concat([file_5[['NAME', 'total_population']], proportions], axis=1)

# Show the first 5 rows to check the results
print(file_5_proportions.head())

                      NAME  total_population  DP05_0037E  DP05_0038E  \
0     Geographic Area Name               NaN         NaN         NaN
1  Autauga County, Alabama           59285.0    0.735700    0.199528
2  Baldwin County, Alabama          239945.0    0.828194    0.079785
3  Barbour County, Alabama           24757.0    0.439916    0.469201
4     Bibb County, Alabama           22152.0    0.750903    0.207069

   DP05_0039E  DP05_0047E  DP05_0055E  DP05_0060E  DP05_0061E
0         NaN         NaN         NaN         NaN         NaN
1    0.000708    0.010390    0.000000    0.007759    0.045914
2    0.004084    0.009469    0.000433    0.022672    0.055363
3    0.001858    0.005493    0.000000    0.054005    0.029527
4    0.007900    0.002302    0.000000    0.003611    0.028214

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/4219069668.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5['total_population'] = file_5['DP05_0001E']

In [39]:
# List of race/ethnicity columns
race_columns = [
    "DP05_0037E",  # White alone
    "DP05_0038E",  # Black or African American alone
    "DP05_0039E",  # American Indian and Alaska Native alone
    "DP05_0047E",  # Asian alone
    "DP05_0055E",  # Native Hawaiian and Other Pacific Islander alone
    "DP05_0060E",  # Some Other Race alone
    "DP05_0061E"   # Two or More Races
]

# Assuming 'file_5' is your DataFrame and 'total_population' is already added
# Calculate the sum of these 7 columns for each row
file_5['Race_Sum'] = file_5[race_columns].sum(axis=1)

# Show the first 5 rows with the sum included
print(file_5[['NAME', 'Race_Sum']].head())

                      NAME  Race_Sum
0     Geographic Area Name       0.0
1  Autauga County, Alabama   59285.0
2  Baldwin County, Alabama  239945.0
3  Barbour County, Alabama   24757.0
4     Bibb County, Alabama   22152.0

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/522555291.py:14: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5['Race_Sum'] = file_5[race_columns].sum(axis=1)

In [40]:
import pandas as pd

# List of race/ethnicity columns you want to calculate proportions for
race_columns = [
    "DP05_0037E",  # White alone
    "DP05_0038E",  # Black or African American alone
    "DP05_0039E",  # American Indian and Alaska Native alone
    "DP05_0047E",  # Asian alone
    "DP05_0055E",  # Native Hawaiian and Other Pacific Islander alone
    "DP05_0060E",  # Some Other Race alone
    "DP05_0061E"   # Two or More Races
]

# Assuming 'file_5' is your DataFrame, and 'DP05_0001E' is the total population column
file_5['total_population'] = file_5['DP05_0001E']

# Calculate proportions for each group by dividing by the total population
proportions = file_5[race_columns].div(file_5['total_population'], axis=0)

# Calculate the diversity index (1 - sum of squared proportions)
file_5['Diversity_Index'] = 1 - (proportions ** 2).sum(axis=1)

# Add the calculated proportions to your DataFrame for reference
file_5_proportions = pd.concat([file_5[['NAME', 'total_population', 'Diversity_Index']], proportions], axis=1)

# Show the first 5 rows to check the results
print(file_5_proportions.head())

                      NAME  total_population  Diversity_Index  DP05_0037E  \
0     Geographic Area Name               NaN         1.000000         NaN
1  Autauga County, Alabama           59285.0         0.416657    0.735700
2  Baldwin County, Alabama          239945.0         0.304044    0.828194
3  Barbour County, Alabama           24757.0         0.582503    0.439916
4     Bibb County, Alabama           22152.0         0.392390    0.750903

   DP05_0038E  DP05_0039E  DP05_0047E  DP05_0055E  DP05_0060E  DP05_0061E
0         NaN         NaN         NaN         NaN         NaN         NaN
1    0.199528    0.000708    0.010390    0.000000    0.007759    0.045914
2    0.079785    0.004084    0.009469    0.000433    0.022672    0.055363
3    0.469201    0.001858    0.005493    0.000000    0.054005    0.029527
4    0.207069    0.007900    0.002302    0.000000    0.003611    0.028214

In [41]:
import pandas as pd

# List of race/ethnicity columns you want to calculate proportions for
race_columns = [
    "DP05_0037E",  # White alone
    "DP05_0038E",  # Black or African American alone
    "DP05_0039E",  # American Indian and Alaska Native alone
    "DP05_0047E",  # Asian alone
    "DP05_0055E",  # Native Hawaiian and Other Pacific Islander alone
    "DP05_0060E",  # Some Other Race alone
    "DP05_0061E"   # Two or More Races
]

# List of counties and areas to filter (updated to match the format)
counties = [
    "Aleutians West Census Area, Alaska",
    "Queens County, New York",
    "Maui County, Hawaii",
    "Alameda County, California",
    "Aleutians East Borough, Alaska",
    "Hawaii County, Hawaii",
    "Fort Bend County, Texas",
    "Hawaii",
    "Kauai County, Hawaii",
    "Solano County, California",
    "Honolulu County, Hawaii",
    "Robeson County, North Carolina",
    "Gwinnett County, Georgia",
    "Yakutat City and Borough, Alaska",
    "Santa Clara County, California",
    "Kings County, New York",
    "San Mateo County, California",
    "Manassas Park city, Virginia",
    "Dallas County, Texas"
]

# Filter the file_5 DataFrame for the specified counties
filtered_file_5 = file_5[file_5['NAME'].isin(counties)]

# Assuming 'DP05_0001E' is the total population column
filtered_file_5['total_population'] = filtered_file_5['DP05_0001E']

# Calculate proportions for each group by dividing by the total population
proportions = filtered_file_5[race_columns].div(filtered_file_5['total_population'], axis=0)

# Calculate the diversity index (1 - sum of squared proportions)
filtered_file_5['Diversity_Index'] = 1 - (proportions ** 2).sum(axis=1)

# Add the calculated proportions to the DataFrame for reference
filtered_file_5_proportions = pd.concat([filtered_file_5[['NAME', 'total_population', 'Diversity_Index']], proportions], axis=1)

# Show the first 5 rows to check the results
print(filtered_file_5_proportions[['NAME', 'Diversity_Index']].head(20))

                                    NAME  Diversity_Index
68        Aleutians East Borough, Alaska         0.772724
69    Aleutians West Census Area, Alaska         0.742459
96      Yakutat City and Borough, Alaska         0.783523
188           Alameda County, California         0.754334
228         San Mateo County, California         0.709837
230       Santa Clara County, California         0.704553
235            Solano County, California         0.739284
456             Gwinnett County, Georgia         0.747795
549                Hawaii County, Hawaii         0.737169
550              Honolulu County, Hawaii         0.713127
552                 Kauai County, Hawaii         0.733950
553                  Maui County, Hawaii         0.738591
1854              Kings County, New York         0.729029
1871             Queens County, New York         0.782643
1970      Robeson County, North Carolina         0.719702
2582                Dallas County, Texas         0.734338
2604             Fort Bend County, Texas         0.750012
2938        Manassas Park city, Virginia         0.753955

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1478746332.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_file_5['total_population'] = filtered_file_5['DP05_0001E']
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/1478746332.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_file_5['Diversity_Index'] = 1 - (proportions ** 2).sum(axis=1)

In [42]:
# Calculate the Hispanic and Non-Hispanic percentages using the formula
file_5['Hispanic_percentage'] = (file_5['DP05_0076E'] * 100) / file_5['DP05_0075E']
file_5['Non_Hispanic_percentage'] = (file_5['DP05_0081E'] * 100) / file_5['DP05_0075E']

# Check the result to make sure the sum of both percentages equals 100
file_5['check_sum'] = file_5['Hispanic_percentage'] + file_5['Non_Hispanic_percentage']

# Show the updated DataFrame with the calculated percentages
print(file_5[['NAME', 'Hispanic_percentage', 'Non_Hispanic_percentage', 'check_sum']].head())

                      NAME  Hispanic_percentage  Non_Hispanic_percentage  \
0     Geographic Area Name                  NaN                      NaN
1  Autauga County, Alabama             3.690647                96.309353
2  Baldwin County, Alabama             5.581696                94.418304
3  Barbour County, Alabama             6.018500                93.981500
4     Bibb County, Alabama             3.358613                96.641387

   check_sum
0        NaN
1      100.0
2      100.0
3      100.0
4      100.0

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/3738283183.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5['Hispanic_percentage'] = (file_5['DP05_0076E'] * 100) / file_5['DP05_0075E']
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/3738283183.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5['Non_Hispanic_percentage'] = (file_5['DP05_0081E'] * 100) / file_5['DP05_0075E']
/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_19118/3738283183.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  file_5['check_sum'] = file_5['Hispanic_percentage'] + file_5['Non_Hispanic_percentage']

In [86]:
file_5_selected = file_5.copy()  # create a working copy of file_5

In [88]:
# List of columns to keep
columns_to_keep = [ 
    'State', 'County', 'total_population', 'Young_Children', 'Children', 'Adolescents', 
    'Young_Adults', 'Emerging_Workforce', 'Prime_Working_Age', 
    'Pre_Retirement', 'Seniors', 'Diversity_Index',  
    'DP05_0076E', 'DP05_0081E', 'Hispanic_percentage', 'Non_Hispanic_percentage'
]

# Dictionary to map full state names to 2-letter codes
state_abbr = {
    'Alabama': 'AL', 'Alaska': 'AK', 'Arizona': 'AZ', 'Arkansas': 'AR',
    'California': 'CA', 'Colorado': 'CO', 'Connecticut': 'CT', 'Delaware': 'DE',
    'Florida': 'FL', 'Georgia': 'GA', 'Hawaii': 'HI', 'Idaho': 'ID',
    'Illinois': 'IL', 'Indiana': 'IN', 'Iowa': 'IA', 'Kansas': 'KS',
    'Kentucky': 'KY', 'Louisiana': 'LA', 'Maine': 'ME', 'Maryland': 'MD',
    'Massachusetts': 'MA', 'Michigan': 'MI', 'Minnesota': 'MN', 'Mississippi': 'MS',
    'Missouri': 'MO', 'Montana': 'MT', 'Nebraska': 'NE', 'Nevada': 'NV',
    'New Hampshire': 'NH', 'New Jersey': 'NJ', 'New Mexico': 'NM', 'New York': 'NY',
    'North Carolina': 'NC', 'North Dakota': 'ND', 'Ohio': 'OH', 'Oklahoma': 'OK',
    'Oregon': 'OR', 'Pennsylvania': 'PA', 'Rhode Island': 'RI', 'South Carolina': 'SC',
    'South Dakota': 'SD', 'Tennessee': 'TN', 'Texas': 'TX', 'Utah': 'UT',
    'Vermont': 'VT', 'Virginia': 'VA', 'Washington': 'WA', 'West Virginia': 'WV',
    'Wisconsin': 'WI', 'Wyoming': 'WY', 'District Of Columbia': 'DC'
}

# Clean state names and apply 2-letter abbreviation
file_5_selected['State'] = file_5_selected['State'].astype(str).str.strip().str.title()
file_5_selected['State_Abbr'] = file_5_selected['State'].map(state_abbr)

# Select only the necessary columns
file_5_selected = file_5_selected[columns_to_keep + ['State_Abbr']]

# Rename columns for readability
new_column_names = {
    'Young_Children': 'Young Children (0–4 years)',
    'Children': 'Children (5–14 years)',
    'Adolescents': 'Adolescents (15–19 years)',
    'Young_Adults': 'Young Adults (20–24 years)',
    'Emerging_Workforce': 'Emerging Workforce (25–34 years)',
    'Prime_Working_Age': 'Prime Working Age (35–54 years)',
    'Pre_Retirement': 'Pre-Retirement (55–64 years)',
    'Seniors': 'Seniors (65+ years)',
    'Diversity_Index': 'Diversity Index',
    'total_population': 'Total Population',
    'Hispanic_percentage': 'Hispanic or Latino Percentage',
    'Non_Hispanic_percentage': 'Non-Hispanic or Latino Percentage',
    'DP05_0076E': 'Hispanic or Latino Population',
    'DP05_0081E': 'Non-Hispanic or Latino Population'
}

file_5_selected = file_5_selected.rename(columns=new_column_names)

# Drop row 0 (if needed)
file_5_selected = file_5_selected.drop(index=0)

# Save to CSV
file_5_selected.to_csv(f"{output_path}/file_5_selected.csv", index=False)
print("✅ File saved successfully at:", f"{output_path}/file_5_selected.csv")

✅ File saved successfully at: /Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output data/file_5_selected.csv

In [ ]:
# Group by county (and state, if available) and calculate 5-year average
county_avg_fmr = all_data.groupby(['county', 'state'])['fmr_1'].mean().reset_index()

# Rename column for clarity
county_avg_fmr.rename(columns={'fmr_1': 'fmr_1_5yr_avg'}, inplace=True)

# Sort by highest average
county_avg_fmr = county_avg_fmr.sort_values(by='fmr_1_5yr_avg', ascending=False)

# View the result
print(county_avg_fmr.head(20))

In [ ]:
county_avg_fmr.to_excel("county_fmr_1_5yr_average.xlsx", index=False)

In [ ]:
# Group by county and state, calculate average fmr_1 over 5 years
county_avg_fmr = all_data.groupby(['county', 'state'])['fmr_1'].mean().reset_index()

# Rename for clarity
county_avg_fmr.rename(columns={'fmr_1': 'fmr_1_5yr_avg'}, inplace=True)

# Sort by highest average rent
county_avg_fmr = county_avg_fmr.sort_values(by='fmr_1_5yr_avg', ascending=False)

# Preview top 20
print(county_avg_fmr.head(20))

In [ ]:
fips_lookup = pd.read_csv("https://raw.githubusercontent.com/kjhealy/fips-codes/master/state_and_county_fips_master.csv")
print(fips_lookup.columns)

In [ ]:
print(fips_lookup.columns.tolist())

In [ ]:
# Your fips_lookup already has these columns: ['fips', 'name', 'state']

# Step 1: Ensure FIPS codes are zero-padded strings
fips_lookup['fips'] = fips_lookup['fips'].astype(str).str.zfill(5)

# Step 2: Extract county and state names from 'name' column
fips_lookup[['county_name', 'state_name']] = fips_lookup['name'].str.extract(r'^(.*?),\s*(.*)$')

# Step 3: Prepare your main DataFrame with matching FIPS code
county_avg_fmr['fips'] = (
    county_avg_fmr['state'].astype(int).astype(str).str.zfill(2) +
    county_avg_fmr['county'].astype(int).astype(str).str.zfill(3)
)

# Step 4: Merge on 'fips'
county_avg_fmr_named = county_avg_fmr.merge(
    fips_lookup[['fips', 'county_name', 'state_name']],
    on='fips',
    how='left'
)

# Step 5: View result
print(county_avg_fmr_named[['fips', 'state_name', 'county_name', 'fmr_1_5yr_avg']].head(10))

In [ ]:
print(fips_lookup['fips'].head(10))

In [ ]:
print(county_avg_fmr['fips'].head(10))

In [ ]:
# Ensure both FIPS columns are strings and exactly 5 characters
fips_lookup['fips'] = fips_lookup['fips'].astype(str).str.zfill(5)
county_avg_fmr['fips'] = county_avg_fmr['fips'].astype(str).str.zfill(5)

In [ ]:
county_avg_fmr_named = county_avg_fmr.merge(
    fips_lookup[['fips', 'name', 'state']],
    on='fips',
    how='left'
)

# Split full name into county and state (if needed)
county_avg_fmr_named[['county_name', 'state_name']] = county_avg_fmr_named['name'].str.extract(r'^(.*?),\s*(.*)$')

# Final check
print(county_avg_fmr_named[['fips', 'state_name', 'county_name', 'fmr_1_5yr_avg']].head(10))

In [ ]:
print(fips_lookup[fips_lookup['fips'] == '06075'])

In [ ]:
pip install us

In [ ]:
!pip install us

In [ ]:
state_abbr_to_name = {
    'AL': 'Alabama', 'AK': 'Alaska', 'AZ': 'Arizona', 'AR': 'Arkansas',
    'CA': 'California', 'CO': 'Colorado', 'CT': 'Connecticut', 'DE': 'Delaware',
    'FL': 'Florida', 'GA': 'Georgia', 'HI': 'Hawaii', 'ID': 'Idaho',
    'IL': 'Illinois', 'IN': 'Indiana', 'IA': 'Iowa', 'KS': 'Kansas',
    'KY': 'Kentucky', 'LA': 'Louisiana', 'ME': 'Maine', 'MD': 'Maryland',
    'MA': 'Massachusetts', 'MI': 'Michigan', 'MN': 'Minnesota', 'MS': 'Mississippi',
    'MO': 'Missouri', 'MT': 'Montana', 'NE': 'Nebraska', 'NV': 'Nevada',
    'NH': 'New Hampshire', 'NJ': 'New Jersey', 'NM': 'New Mexico',
    'NY': 'New York', 'NC': 'North Carolina', 'ND': 'North Dakota',
    'OH': 'Ohio', 'OK': 'Oklahoma', 'OR': 'Oregon', 'PA': 'Pennsylvania',
    'RI': 'Rhode Island', 'SC': 'South Carolina', 'SD': 'South Dakota',
    'TN': 'Tennessee', 'TX': 'Texas', 'UT': 'Utah', 'VT': 'Vermont',
    'VA': 'Virginia', 'WA': 'Washington', 'WV': 'West Virginia',
    'WI': 'Wisconsin', 'WY': 'Wyoming', 'DC': 'District of Columbia'
}

fips_lookup['state_name'] = fips_lookup['state'].map(state_abbr_to_name)

In [ ]:
county_avg_fmr_named = county_avg_fmr.merge(
    fips_lookup[['fips', 'state_name', 'county_name']],
    on='fips',
    how='left'
)

In [ ]:
print(county_avg_fmr_named[['fips', 'state_name', 'county_name', 'fmr_1_5yr_avg']].head(100))

In [ ]:
print(county_avg_fmr_named[['fips', 'state_name', 'county_name', 'fmr_1_5yr_avg']].tail(10))

In [ ]:
county_avg_fmr_named.to_excel("fmr_1_5yr_by_county.xlsx", index=False)

In [ ]:
# ==========================================================
# General Setup
# ==========================================================

import pandas as pd
import os

# 📁 Set input/output paths
input_path = "/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Input data/Processed data"
output_path = "/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output data"

# 📄 List all CSV files in the input directory
data_files = os.listdir(input_path)

# 📌 Get filename for a specific year, with confirmation
def get_file_path(year):
    matches = [f for f in data_files if f.endswith(f"analytic_data{year}.csv")]
    if not matches:
        raise FileNotFoundError(f"❌ No file found for year {year}")
    print(f"✅ Found file for {year}: {matches[0]}")
    return matches[0]

In [ ]:
# ==========================================================
# PART 1: Process "Access to Exercise Opportunities"
# ==========================================================

# 🔄 Load and clean a single year's exercise access data
def load_exercise_access_column(filename, year):
    df = pd.read_csv(os.path.join(input_path, filename))
    df.columns = df.columns.str.strip()  # Remove extra spaces from column names

    # Define acceptable column names across years
    possible_cols = [
        "Access to exercise opportunities raw value",
        "Access to Exercise Opportunities raw value"
    ]
    value_col = next((col for col in possible_cols if col in df.columns), None)

    # Create column if not found
    new_col = f'access_exercise_{year}'
    if value_col is None:
        print(f"⚠️  Column not found in {filename}. Filling {new_col} with NA.")
        df[new_col] = pd.NA
    else:
        df = df.rename(columns={value_col: new_col})

    # Standardize ID columns
    df = df.rename(columns={
        '5-digit FIPS Code': 'FIPS',
        'State Abbreviation': 'State',
        'Name': 'County'
    })

    return df[['FIPS', 'State', 'County', new_col]]

# 📥 Load and collect all 5 years into a list
exercise_dfs = []
for year in range(2020, 2025):
    file_path = get_file_path(year)
    df = load_exercise_access_column(file_path, year)
    exercise_dfs.append(df)

# 🧩 Merge yearly data side-by-side
exercise_access = exercise_dfs[0]
for df in exercise_dfs[1:]:
    exercise_access = pd.merge(exercise_access, df, on=["FIPS", "State", "County"], how="outer")

# 📊 Calculate the 5-year average for exercise access
exercise_cols = [f'access_exercise_{y}' for y in range(2020, 2025)]
exercise_access[exercise_cols] = exercise_access[exercise_cols].apply(pd.to_numeric, errors='coerce')
exercise_access['access_exercise_mean'] = exercise_access[exercise_cols].mean(axis=1, skipna=True)

# ✅ Preview the processed DataFrame
exercise_access.head()

In [ ]:
missing_report = pd.DataFrame({
    "Missing Count": exercise_access.isna().sum(),
    "Missing %": (exercise_access.isna().sum() / len(exercise_access) * 100).round(2)
})
missing_report

In [ ]:
# Since the missing values for some columns are under 5 percent, I will impute with the state average for the relevant counties

In [ ]:
# All missing yearly values (2020–2024) are filled using that state's average exercise access score that county belong

# Step 1: Define the year columns to impute
year_cols = [f'access_exercise_{y}' for y in range(2020, 2025)]

# Step 2: Loop through each state and impute missing values
states = exercise_access['State'].unique()

for state in states:
    # Get the state's mean 5-year average (excluding NaNs)
    state_mean = exercise_access.loc[
        exercise_access['State'] == state, 'access_exercise_mean'
    ].mean()
    
    # Loop through each year column and fill missing values with that state mean
    for col in year_cols:
        exercise_access.loc[
            (exercise_access['State'] == state) & (exercise_access[col].isna()),
            col
        ] = state_mean

# Step 3: Recalculate the 5-year mean for all rows after imputation
exercise_access[year_cols] = exercise_access[year_cols].apply(pd.to_numeric, errors='coerce')
exercise_access['access_exercise_mean'] = exercise_access[year_cols].mean(axis=1, skipna=True)

print("✅ All missing values have been imputed using state-wise means.")

In [ ]:
exercise_access.head()

🧾 General Interpretation: Access to Exercise Opportunities (2020–2024)
This dataset shows the proportion of each county’s population with adequate access to locations for physical activity (e.g., parks, gyms, trails) over a 5-year period.

Values range from 0 (no access) to 1 (full access), with access_exercise_mean reflecting the 5-year average.

📌 What it tells us:
Higher values (e.g., 0.70+) = broad community access to exercise spaces ✅
Lower values (e.g., < 0.10) = limited access, likely rural or underserved areas ⚠️
Important for understanding health equity and targeting community health investments.
🧼 Data Note:
Some counties had missing data, which was filled using their state’s average score to enable fair comparisons.

In [ ]:
# ==========================================================
# PART 2: Process "Air Pollution – Particulate Matter"
# ==========================================================

# 🔄 Load and clean a single year's air pollution data
def load_air_pollution_column(filename, year):
    df = pd.read_csv(os.path.join(input_path, filename))
    df.columns = df.columns.str.strip()

    # Handle name variations for the air pollution column
    possible_cols = [
        "Air pollution - particulate matter raw value",
        "Air Pollution - Particulate Matter raw value"
    ]
    value_col = next((col for col in possible_cols if col in df.columns), None)

    new_col = f'air_pollution_{year}'
    if value_col is None:
        print(f"⚠️  Column not found in {filename}. Filling {new_col} with NA.")
        df[new_col] = pd.NA
    else:
        df = df.rename(columns={value_col: new_col})

    # Standardize ID columns
    df = df.rename(columns={
        '5-digit FIPS Code': 'FIPS',
        'State Abbreviation': 'State',
        'Name': 'County'
    })

    return df[['FIPS', 'State', 'County', new_col]]

# 📥 Load and collect all 5 years into a list
air_dfs = []
for year in range(2020, 2025):
    file_path = get_file_path(year)
    df = load_air_pollution_column(file_path, year)
    air_dfs.append(df)

# 🧩 Merge yearly data side-by-side
air_pollution = air_dfs[0]
for df in air_dfs[1:]:
    air_pollution = pd.merge(air_pollution, df, on=["FIPS", "State", "County"], how="outer")

# 📊 Calculate the 5-year average for air pollution
air_cols = [f'air_pollution_{y}' for y in range(2020, 2025)]
air_pollution[air_cols] = air_pollution[air_cols].apply(pd.to_numeric, errors='coerce')
air_pollution['air_pollution_mean'] = air_pollution[air_cols].mean(axis=1, skipna=True)

# ✅ Preview the processed DataFrame
air_pollution.head()

In [ ]:
missing_report = pd.DataFrame({
    "Missing Count": air_pollution.isna().sum(),
    "Missing %": (air_pollution.isna().sum() / len(air_pollution) * 100).round(2)
})
missing_report

In [ ]:
# ==========================================================
# Impute Missing Values: Air Pollution (2020–2024)
# ==========================================================

# Step 1: Define the year columns to impute
air_cols = [f'air_pollution_{y}' for y in range(2020, 2025)]

# Step 2: Loop through each state and impute missing values
states = air_pollution['State'].unique()

for state in states:
    # Get the state's mean 5-year average (excluding NaNs)
    state_mean = air_pollution.loc[
        air_pollution['State'] == state, 'air_pollution_mean'
    ].mean()
    
    # Loop through each year column and fill missing values with that state mean
    for col in air_cols:
        air_pollution.loc[
            (air_pollution['State'] == state) & (air_pollution[col].isna()),
            col
        ] = state_mean

# Step 3: Recalculate the 5-year mean for all rows after imputation
air_pollution[air_cols] = air_pollution[air_cols].apply(pd.to_numeric, errors='coerce')
air_pollution['air_pollution_mean'] = air_pollution[air_cols].mean(axis=1, skipna=True)

print("✅ All missing air pollution values have been imputed using state-wise means.")

In [ ]:
air_pollution.head()

🧾 General Interpretation: Air Pollution (PM2.5), 2020–2024
This dataset shows the annual average concentration of fine particulate matter (PM2.5, µg/m³) in each U.S. county over 5 years. The air_pollution_mean reflects each county’s 5-year average exposure.

📌 What it tells us:
Lower values (7–9) = cleaner air
Higher values (10+) = more pollution, greater health risk
Helps identify environmental health disparities and areas needing air quality improvement.
🌍 Standards:
EPA limit: 12 µg/m³ (annual average)
WHO guideline: 5 µg/m³ (2021 update)
Most U.S. counties stay under EPA’s limit but exceed WHO’s target.
🧼 Data Note:
Missing values (for some counties/years) were imputed using state-level means for consistent comparison.

In [ ]:
# ==========================================================
# PART 3: Drinking Water Violations
# ==========================================================

# 🔄 Load and clean a single year's drinking water violation data
def load_drinking_water_column(filename, year):
    df = pd.read_csv(os.path.join(input_path, filename))
    df.columns = df.columns.str.strip()

    possible_cols = [
        "Drinking water violations raw value",
        "Drinking Water Violations raw value"
    ]
    value_col = next((col for col in possible_cols if col in df.columns), None)

    new_col = f'drinking_water_{year}'
    if value_col is None:
        print(f"⚠️  Column not found in {filename}. Filling {new_col} with NA.")
        df[new_col] = pd.NA
    else:
        df = df.rename(columns={value_col: new_col})

    df = df.rename(columns={
        '5-digit FIPS Code': 'FIPS',
        'State Abbreviation': 'State',
        'Name': 'County'
    })

    return df[['FIPS', 'State', 'County', new_col]]

# 📥 Load all 5 years
water_dfs = []
for year in range(2020, 2025):
    file_path = get_file_path(year)
    df = load_drinking_water_column(file_path, year)
    water_dfs.append(df)

# 🧩 Merge yearly data
drinking_water = water_dfs[0]
for df in water_dfs[1:]:
    drinking_water = pd.merge(drinking_water, df, on=["FIPS", "State", "County"], how="outer")

# 📊 Calculate 5-year average
water_cols = [f'drinking_water_{y}' for y in range(2020, 2025)]
drinking_water[water_cols] = drinking_water[water_cols].apply(pd.to_numeric, errors='coerce')
drinking_water['drinking_water_mean'] = drinking_water[water_cols].mean(axis=1, skipna=True)

# 🧼 Impute missing values by state-wise mean
states = drinking_water['State'].unique()
for state in states:
    state_mean = drinking_water.loc[drinking_water['State'] == state, 'drinking_water_mean'].mean()
    for col in water_cols:
        drinking_water.loc[
            (drinking_water['State'] == state) & (drinking_water[col].isna()),
            col
        ] = state_mean

# 🔁 Recalculate mean after imputation
drinking_water[water_cols] = drinking_water[water_cols].apply(pd.to_numeric, errors='coerce')
drinking_water['drinking_water_mean'] = drinking_water[water_cols].mean(axis=1, skipna=True)

# ✅ Final missing check
missing_report = pd.DataFrame({
    "Missing Count": drinking_water.isna().sum(),
    "Missing %": (drinking_water.isna().sum() / len(drinking_water) * 100).round(2)
})
print("📋 Final Missing Value Report: Drinking Water")
print(missing_report)

# 👀 Preview result
drinking_water.head()

🧾 General Interpretation: Drinking Water Violations Data (2020–2024)
This dataset tracks how frequently each U.S. county violated drinking water safety standards over 5 years.
Each year is represented by a value from 0 (no violations) to 1 (violations throughout the year). The column drinking_water_mean summarizes a county’s 5-year average violation rate.

Counties with values close to 0 consistently provided safe drinking water, while higher averages (e.g., 0.6) signal frequent or recurring water quality issues. This helps identify areas where public health infrastructure may require attention.

Some counties have not reported data for specific years. In those cases, missing values were imputed using the state-level average, allowing for fair comparison across all counties.

In [ ]:
# ==========================================================
# PART 4: Violent Crime (Full Script with Detailed Logging)
# ==========================================================

import pandas as pd
import os

# 🔄 Load and clean a single year's violent crime data
def load_violent_crime_column(filename, year):
    df = pd.read_csv(os.path.join(input_path, filename))
    df.columns = df.columns.str.strip()

    possible_cols = [
        "Violent crime raw value",
        "Violent Crime raw value"
    ]
    value_col = next((col for col in possible_cols if col in df.columns), None)

    new_col = f'violent_crime_{year}'
    if value_col is None:
        print(f"⚠️  Column not found in {filename}. Filling {new_col} with NA.")
        df[new_col] = pd.NA
    else:
        df = df.rename(columns={value_col: new_col})

    df = df.rename(columns={
        '5-digit FIPS Code': 'FIPS',
        'State Abbreviation': 'State',
        'Name': 'County'
    })

    return df[['FIPS', 'State', 'County', new_col]]

# 📥 Load all 5 years
crime_dfs = []
for year in range(2020, 2025):
    file_path = get_file_path(year)
    df = load_violent_crime_column(file_path, year)
    crime_dfs.append(df)

# 🧩 Merge yearly data
violent_crime = crime_dfs[0]
for df in crime_dfs[1:]:
    violent_crime = pd.merge(violent_crime, df, on=["FIPS", "State", "County"], how="outer")

# 📊 Calculate 5-year average BEFORE imputation
crime_cols = [f'violent_crime_{y}' for y in range(2020, 2025)]
violent_crime[crime_cols] = violent_crime[crime_cols].apply(pd.to_numeric, errors='coerce')
violent_crime['violent_crime_mean'] = violent_crime[crime_cols].mean(axis=1, skipna=True)

# 🟡 Missing check BEFORE imputation
missing_report_before = pd.DataFrame({
    "Missing Count": violent_crime.isna().sum(),
    "Missing %": (violent_crime.isna().sum() / len(violent_crime) * 100).round(2)
})
print("🔍 Missing Value Report BEFORE Imputation: Violent Crime")
print(missing_report_before)

# 🧾 Print state-wise means used for imputation
print("\n📌 State-Level Means Used for Imputing Violent Crime:")
state_means = {}

states = violent_crime['State'].unique()
for state in states:
    state_mean = violent_crime.loc[violent_crime['State'] == state, 'violent_crime_mean'].mean()
    state_means[state] = state_mean
    # Impute missing values for this state
    for col in crime_cols:
        violent_crime.loc[
            (violent_crime['State'] == state) & (violent_crime[col].isna()),
            col
        ] = state_mean

# Show as DataFrame
state_means_df = pd.DataFrame.from_dict(state_means, orient='index', columns=['State Mean (Violent Crime)'])
state_means_df = state_means_df.sort_values(by='State Mean (Violent Crime)', ascending=False)
print(state_means_df)

# 🔁 Recalculate mean AFTER imputation
violent_crime[crime_cols] = violent_crime[crime_cols].apply(pd.to_numeric, errors='coerce')
violent_crime['violent_crime_mean'] = violent_crime[crime_cols].mean(axis=1, skipna=True)

# ✅ Final missing check AFTER imputation
missing_report_after = pd.DataFrame({
    "Missing Count": violent_crime.isna().sum(),
    "Missing %": (violent_crime.isna().sum() / len(violent_crime) * 100).round(2)
})
print("\n✅ Final Missing Value Report AFTER Imputation: Violent Crime")
print(missing_report_after)

# 🆚 Compare before vs after side-by-side
missing_compare = pd.concat(
    [missing_report_before.rename(columns=lambda c: f"Before {c}"),
     missing_report_after.rename(columns=lambda c: f"After {c}")],
    axis=1
)
print("\n📊 Missing Value Comparison: Violent Crime (Before vs After)")
print(missing_compare)

# 🔎 Identify row(s) still missing after imputation
still_missing = violent_crime[violent_crime.isna().any(axis=1)]
print("\n🚨 Row(s) still missing after imputation:")
print(still_missing[['FIPS', 'State', 'County'] + crime_cols + ['violent_crime_mean']])

# 💡 Optional: Impute final row(s) with national mean
if not still_missing.empty:
    national_mean = violent_crime['violent_crime_mean'].mean()
    violent_crime.fillna(national_mean, inplace=True)
    print(f"\n🧪 Filled final missing values with national mean: {round(national_mean, 4)}")

# 👀 Preview final cleaned data
print("\n✅ Preview of final violent_crime data:")
print(violent_crime.head())

In [ ]:
# ==========================================================
# File Check: Validate all expected files are present
# ==========================================================

# Define the years to check
years_to_check = range(2020, 2025)

# Loop through each year and confirm file exists
print("🔍 Checking required files...")
for year in years_to_check:
    try:
        file = get_file_path(year)
    except FileNotFoundError as e:
        print(e)

In [ ]:
# ==========================================================
# Preview: Violent Crime Raw Value (Year: 2024)
# ==========================================================

# Load 2024 data file
file_2024 = get_file_path(2024)
df_2024 = pd.read_csv(os.path.join(input_path, file_2024))
df_2024.columns = df_2024.columns.str.strip()

# Try to find the correct column (handling name inconsistencies)
possible_cols = [
    "Violent crime raw value",
    "Violent Crime raw value"
]

crime_col = next((col for col in possible_cols if col in df_2024.columns), None)

if crime_col:
    # Standardize and preview
    df_2024 = df_2024.rename(columns={crime_col: "violent_crime_2024"})
    
    # Clean up key columns
    df_2024 = df_2024.rename(columns={
        '5-digit FIPS Code': 'FIPS',
        'State Abbreviation': 'State',
        'Name': 'County'
    })

    print("✅ Preview: Violent Crime Data (2024)")
    display(df_2024[['FIPS', 'State', 'County', 'violent_crime_2024']].head())
else:
    print("❌ Violent crime column not found in 2024 file.")
``

In [ ]:
# ==========================================================
# Preview: Violent Crime Raw Value (2024)
# ==========================================================

# Load the 2024 file
file_2024 = get_file_path(2024)
df_2024 = pd.read_csv(os.path.join(input_path, file_2024))
df_2024.columns = df_2024.columns.str.strip()

# Extract the column: "Violent crime raw value"
crime_col = "Violent crime raw value"

if crime_col in df_2024.columns:
    # Rename and clean for preview
    df_2024 = df_2024.rename(columns={
        crime_col: "violent_crime_2024",
        '5-digit FIPS Code': 'FIPS',
        'State Abbreviation': 'State',
        'Name': 'County'
    })

    # Preview selected columns
    print("✅ Preview: Violent Crime Raw Value (2024)")
    display(df_2024[['FIPS', 'State', 'County', 'violent_crime_2024']].head())
else:
    print("❌ 'Violent crime raw value' column not found in 2024 file.")

In [ ]:
# Check all column names in the 2024 file
print("📋 Column names in 2024 file:")
for col in df_2024.columns:
    print("-", col)

In [ ]:
# ==========================================================
# Check Violent Crime Column in 2024 File
# ==========================================================

# Load the 2024 file
file_2024 = get_file_path(2024)
df_2024 = pd.read_csv(os.path.join(input_path, file_2024))
df_2024.columns = df_2024.columns.str.strip()

# Step 1: Print all column names to find the real one
print("📋 All column names in 2024 file:")
for col in df_2024.columns:
    print("-", col)

# Step 2: Try to auto-detect a close match (just in case)
import difflib
match = difflib.get_close_matches("Violent crime raw value", df_2024.columns, n=1)

if match:
    col_name = match[0]
    print(f"\n✅ Closest match found: '{col_name}'")

    # Step 3: Preview first 5 rows from that column
    print("\n🔎 First 5 values from the violent crime column:")
    print(df_2024[[col_name]].head())
else:
    print("\n❌ No close match found for 'Violent crime raw value'.")