In [1]:
import pandas as pd

file_path = '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output data/final_dataset.csv'
final_dataset = pd.read_csv(file_path)

# Optional: preview first few rows
print(final_dataset.head())

   FIPS State                      County  air_pollution_2020  \
0  2068    Ak              Denali Borough               8.145
1  2000    Ak                      Alaska               8.145
2  2013    Ak      Aleutians East Borough               8.145
3  2016    Ak  Aleutians West Census Area               8.145
4  2020    Ak           Anchorage Borough               8.145

   air_pollution_2021  air_pollution_2022  air_pollution_2023  \
0               8.145               8.145               8.145
1               6.450               6.150               7.550
2               8.145               8.145               8.145
3               8.145               8.145               8.145
4               6.400               5.400               8.300

   air_pollution_2024  air_pollution_mean  children_lunch_2020  ...  \
0               8.145               8.145             0.012461  ...
1               7.550               7.169             0.445528  ...
2               8.145               8.145             0.039648  ...
3               8.145               8.145             0.204499  ...
4               8.300               7.309             0.465113  ...

   Diversity Index  Hispanic or Latino Population  \
0         0.373409                          131.0
1              NaN                            NaN
2         0.772724                          360.0
3         0.742459                          715.0
4              NaN                            NaN

   Non-Hispanic or Latino Population  Hispanic or Latino Percentage  \
0                             1898.0                       6.456382
1                                NaN                            NaN
2                             3063.0                      10.517090
3                             4463.0                      13.808420
4                                NaN                            NaN

   Non-Hispanic or Latino Percentage  county  state  fmr_1_5yr_avg  \
0                          93.543618    68.0    2.0         1111.0
1                                NaN     NaN    NaN            NaN
2                          89.482910    13.0    2.0          853.0
3                          86.191580    16.0    2.0         1210.0
4                                NaN    20.0    2.0          926.0

   State_file7                County_file7
0           AK              Denali Borough
1          NaN                         NaN
2           AK      Aleutians East Borough
3           AK  Aleutians West Census Area
4           AK      Anchorage Municipality

[5 rows x 304 columns]

/var/folders/tt/mzspvn2d7hb3qsps4c4lqh0c0000gn/T/ipykernel_33040/3391873253.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  final_dataset = pd.read_csv(file_path)

In [13]:
# Check for missing values in County column
missing_county = final_dataset[final_dataset['County'].isna() | (final_dataset['County'].str.strip() == '')]

# Show rows with missing or blank County values
print(missing_county[['FIPS', 'County']])

Empty DataFrame
Columns: [FIPS, County]
Index: []

In [15]:
# Find where County_file7 is missing or blank
missing_county_file7 = final_dataset[
    final_dataset['County_file7'].isna() | (final_dataset['County_file7'].str.strip() == '')
]

# Show both County_file7 and its counterpart in County
print(missing_county_file7[['FIPS', 'County_file7', 'County']])

          FIPS County_file7                    County
1         2000          NaN                    Alaska
7         2063          NaN       Chugach Census Area
8         2066          NaN  Copper River Census Area
40        1000          NaN                   Alabama
147       5000          NaN                  Arkansas
...        ...          ...                       ...
5270     54000          NaN             West Virginia
5308     54000          NaN             West Virginia
5343     56000          NaN                   Wyoming
5346     56000          NaN                   Wyoming
5370  fipscode          NaN                    County

[90 rows x 3 columns]

In [17]:
missing_county_file7.head(100)

,FIPS,State,County,air_pollution_2020,air_pollution_2021,air_pollution_2022,air_pollution_2023,air_pollution_2024,air_pollution_mean,children_lunch_2020,...,Diversity Index,Hispanic or Latino Population,Non-Hispanic or Latino Population,Hispanic or Latino Percentage,Non-Hispanic or Latino Percentage,county,state,fmr_1_5yr_avg,State_file7,County_file7
1,2000,Ak,Alaska,8.145,6.450,6.150,7.550,7.550,7.169,0.445528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2063,Ak,Chugach Census Area,8.145,8.145,8.145,8.145,8.145,8.145,0.481187,...,0.454902,359.0,6605.0,5.155083,94.844917,NaN,NaN,NaN,NaN,NaN
8,2066,Ak,Copper River Census Area,8.145,8.145,8.145,8.145,8.145,8.145,0.481187,...,0.580869,102.0,2524.0,3.884235,96.115765,NaN,NaN,NaN,NaN,NaN
40,1000,Al,Alabama,11.000,9.200,9.000,9.300,9.300,9.560,0.558742,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,5000,Ar,Arkansas,10.000,9.100,9.100,8.900,8.900,9.200,0.353395,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5270,54000,Wv,West Virginia,9.600,7.800,7.600,7.300,7.300,7.920,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5308,54000,Wv,West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,0.551772,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5343,56000,Wy,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,0.371409,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5346,56000,Wy,Wyoming,4.800,4.200,5.000,3.600,3.600,4.240,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5370,fipscode,State,County,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Find all full rows where FIPS + County is duplicated
all_duplicated_rows = final_dataset[final_dataset.duplicated(subset=['FIPS', 'County'], keep=False)]

# Show the full duplicated rows
print(all_duplicated_rows)

       FIPS State             County  air_pollution_2020  air_pollution_2021  \
1012  21157    Ky    Marshall County                 NaN                 NaN
1013  21159    Ky      Martin County                 NaN                 NaN
1014  21161    Ky       Mason County                 NaN                 NaN
1015  21163    Ky       Meade County                 NaN                 NaN
1016  21173    Ky  Montgomery County                 NaN                 NaN
...     ...   ...                ...                 ...                 ...
5365  56007    Wy      Carbon County                 3.0                 4.6
5366  56005    Wy    Campbell County                 5.8                 4.1
5367  56003    Wy    Big Horn County                 5.4                 4.6
5368  56001    Wy      Albany County                 3.7                 3.9
5369  56021    Wy     Laramie County                 4.6                 5.5

      air_pollution_2022  air_pollution_2023  air_pollution_2024  \
1012                 NaN                 NaN                 NaN
1013                 NaN                 NaN                 NaN
1014                 NaN                 NaN                 NaN
1015                 NaN                 NaN                 NaN
1016                 NaN                 NaN                 NaN
...                  ...                 ...                 ...
5365                 5.0                 3.6                 3.6
5366                 4.9                 2.4                 2.4
5367                 5.4                 3.6                 3.6
5368                 5.0                 3.7                 3.7
5369                 4.8                 3.8                 3.8

      air_pollution_mean  children_lunch_2020  ...  Diversity Index  \
1012                 NaN             0.526857  ...         0.074481
1013                 NaN             0.747804  ...         0.219147
1014                 NaN             0.604784  ...         0.230043
1015                 NaN             0.533494  ...         0.186442
1016                 NaN             0.593395  ...         0.143237
...                  ...                  ...  ...              ...
5365                3.96                  NaN  ...         0.288203
5366                3.92                  NaN  ...         0.239441
5367                4.52                  NaN  ...         0.204127
5368                4.00                  NaN  ...         0.271118
5369                4.50                  NaN  ...         0.313971

      Hispanic or Latino Population  Non-Hispanic or Latino Population  \
1012                          600.0                            31128.0
1013                          213.0                            10968.0
1014                          384.0                            16611.0
1015                         1213.0                            28819.0
1016                          942.0                            27329.0
...                             ...                                ...
5365                         2620.0                            11929.0
5366                         4408.0                            42610.0
5367                         1122.0                            10615.0
5368                         3971.0                            33742.0
5369                        15755.0                            84906.0

      Hispanic or Latino Percentage  Non-Hispanic or Latino Percentage  \
1012                       1.891074                          98.108926
1013                       1.905017                          98.094983
1014                       2.259488                          97.740512
1015                       4.039025                          95.960975
1016                       3.332036                          96.667964
...                             ...                                ...
5365                      18.008111                          81.991889
5366                       9.375133                          90.624867
5367                       9.559513                          90.440487
5368                      10.529526                          89.470474
5369                      15.651543                          84.348457

      county  state  fmr_1_5yr_avg  State_file7  County_file7
1012   157.0   21.0          650.0           KY      Marshall
1013   159.0   21.0          516.0           KY        Martin
1014   161.0   21.0          550.0           KY         Mason
1015   163.0   21.0          603.0           KY         Meade
1016   173.0   21.0          567.0           KY    Montgomery
...      ...    ...            ...          ...           ...
5365     7.0   56.0          750.0           WY        Carbon
5366     5.0   56.0          771.0           WY      Campbell
5367     3.0   56.0          568.0           WY      Big Horn
5368     1.0   56.0          668.0           WY        Albany
5369    21.0   56.0          696.0           WY       Laramie

[4308 rows x 304 columns]

In [25]:
# Filter rows where State is exactly 'Ak'
ak_rows = final_dataset[final_dataset['State'] == 'Ak']

# Find duplicated FIPS values within Alaska
duplicated_ak_fips = ak_rows[ak_rows.duplicated(subset='FIPS', keep=False)]

# Show relevant columns
print(duplicated_ak_fips[['FIPS', 'State', 'County']])

Empty DataFrame
Columns: [FIPS, State, County]
Index: []

In [27]:
# Filter rows where State is "AK"
ak_rows = final_dataset[final_dataset['State'] == 'AK']

# Find duplicated FIPS in Alaska
duplicated_ak_fips = ak_rows[ak_rows.duplicated(subset='FIPS', keep=False)]

# Show FIPS, State, and County for those duplicates
print(duplicated_ak_fips[['FIPS', 'State', 'County']])

Empty DataFrame
Columns: [FIPS, State, County]
Index: []

In [35]:
# Filter rows where State is exactly 'Ak'
ak_rows = final_dataset[final_dataset['State'] == 'Ga']

# Find duplicated FIPS values within Alaska
duplicated_ak_fips = ak_rows[ak_rows.duplicated(subset='FIPS', keep=False)]

# Show relevant columns
print(duplicated_ak_fips[['FIPS', 'State', 'County']])

Empty DataFrame
Columns: [FIPS, State, County]
Index: []

In [37]:
# Find rows with missing values in State_file7 or County_file7
missing_rows = final_dataset[
    final_dataset['State_file7'].isna() | (final_dataset['State_file7'].str.strip() == '') |
    final_dataset['County_file7'].isna() | (final_dataset['County_file7'].str.strip() == '')
]

# Show key columns for review
print(missing_rows[['FIPS', 'State_file7', 'County_file7']])

          FIPS State_file7 County_file7
1         2000         NaN          NaN
7         2063         NaN          NaN
8         2066         NaN          NaN
40        1000         NaN          NaN
147       5000         NaN          NaN
...        ...         ...          ...
5270     54000         NaN          NaN
5308     54000         NaN          NaN
5343     56000         NaN          NaN
5346     56000         NaN          NaN
5370  fipscode         NaN          NaN

[90 rows x 3 columns]

In [49]:
# Find duplicated rows based on State_file7 and County_file7
duplicated_rows = final_dataset[final_dataset.duplicated(subset=['State_file7', 'County_file7'], keep=False)]

# Show only the relevant columns
print(duplicated_rows[['FIPS', 'State_file7', 'County_file7']])

          FIPS State_file7 County_file7
1         2000         NaN          NaN
7         2063         NaN          NaN
8         2066         NaN          NaN
40        1000         NaN          NaN
147       5000         NaN          NaN
...        ...         ...          ...
5366     56005          WY     Campbell
5367     56003          WY     Big Horn
5368     56001          WY       Albany
5369     56021          WY      Laramie
5370  fipscode         NaN          NaN

[4368 rows x 3 columns]

In [41]:
# Find fully duplicated rows (all columns match)
fully_duplicated_rows = final_dataset[final_dataset.duplicated(keep=False)]

# Show the duplicates
print(fully_duplicated_rows)

Empty DataFrame
Columns: [FIPS, State, County, air_pollution_2020, air_pollution_2021, air_pollution_2022, air_pollution_2023, air_pollution_2024, air_pollution_mean, children_lunch_2020, children_lunch_2021, children_lunch_2022, children_lunch_2023, children_lunch_2024, children_lunch_mean, children_poverty_2020, children_poverty_2021, children_poverty_2022, children_poverty_2023, children_poverty_2024, children_poverty_mean, dentists_raw_value_2020, dentists_raw_value_2021, dentists_raw_value_2022, dentists_raw_value_2023, dentists_raw_value_2024, dentists_mean, disconnected_youth_2020, disconnected_youth_2021, disconnected_youth_2022, disconnected_youth_2023, disconnected_youth_2024, disconnected_youth_mean, drinking_water_2020, drinking_water_2021, drinking_water_2022, drinking_water_2023, drinking_water_2024, drinking_water_mean, drive_alone_numerator_2020, drive_alone_numerator_2021, drive_alone_numerator_2022, drive_alone_numerator_2023, drive_alone_numerator_2024, drug_overdose_deaths_2020, drug_overdose_deaths_2021, drug_overdose_deaths_2022, drug_overdose_deaths_2023, drug_overdose_deaths_2024, drug_overdose_deaths_mean, exercise_access_2020, exercise_access_2021, exercise_access_2022, exercise_access_2023, exercise_access_2024, exercise_access_mean, firearm_fatalities_2020, firearm_fatalities_2021, firearm_fatalities_2022, firearm_fatalities_2023, firearm_fatalities_2024, firearm_fatalities_mean, flu_vaccinations_raw_value_2020, flu_vaccinations_raw_value_2021, flu_vaccinations_raw_value_2022, flu_vaccinations_raw_value_2023, flu_vaccinations_raw_value_2024, flu_vaccinations_mean, food_environment_index_2020, food_environment_index_2021, food_environment_index_2022, food_environment_index_2023, food_environment_index_2024, food_environment_index_mean, food_insecurity_2020, food_insecurity_2021, food_insecurity_2022, food_insecurity_2023, food_insecurity_2024, food_insecurity_mean, frequent_physical_distress_2020, frequent_physical_distress_2021, frequent_physical_distress_2022, frequent_physical_distress_2023, frequent_physical_distress_2024, physical_distress_mean, high_housing_cost_2020, high_housing_cost_2021, high_housing_cost_2022, high_housing_cost_2023, high_housing_cost_2024, high_housing_cost_mean, high_school_graduation_2020, high_school_graduation_2021, high_school_graduation_2022, high_school_graduation_2023, high_school_graduation_2024, high_school_graduation_mean, hiv_prevalence_2020, hiv_prevalence_2021, ...]
Index: []

[0 rows x 304 columns]

In [43]:


# Filter for California (case-insensitive just in case)
ca_rows = final_dataset[final_dataset['State'].str.lower() == 'Ca']

# Show selected columns
print(ca_rows[['FIPS', 'State', 'County']])

Empty DataFrame
Columns: [FIPS, State, County]
Index: []

In [47]:
# Filter rows where FIPS is 2066
fips_2066_rows = final_dataset[final_dataset['FIPS'] == 2068]

# Show full duplicated entries (if any)
print(fips_2066_rows)

   FIPS State          County  air_pollution_2020  air_pollution_2021  \
0  2068    Ak  Denali Borough               8.145               8.145

   air_pollution_2022  air_pollution_2023  air_pollution_2024  \
0               8.145               8.145               8.145

   air_pollution_mean  children_lunch_2020  ...  Diversity Index  \
0               8.145             0.012461  ...         0.373409

   Hispanic or Latino Population  Non-Hispanic or Latino Population  \
0                          131.0                             1898.0

   Hispanic or Latino Percentage  Non-Hispanic or Latino Percentage  county  \
0                       6.456382                          93.543618    68.0

   state  fmr_1_5yr_avg  State_file7    County_file7
0    2.0         1111.0           AK  Denali Borough

[1 rows x 304 columns]

In [51]:
# Find duplicated rows based on 5-column uniqueness
duplicate_combo = final_dataset.duplicated(subset=['FIPS', 'State', 'County', 'County_file7', 'State_file7'], keep=False)

# Filter and display all such duplicated rows
duplicated_rows = final_dataset[duplicate_combo]

# Show the key columns to inspect
print(duplicated_rows[['FIPS', 'State', 'County', 'County_file7', 'State_file7']])

       FIPS State             County County_file7 State_file7
1012  21157    Ky    Marshall County     Marshall          KY
1013  21159    Ky      Martin County       Martin          KY
1014  21161    Ky       Mason County        Mason          KY
1015  21163    Ky       Meade County        Meade          KY
1016  21173    Ky  Montgomery County   Montgomery          KY
...     ...   ...                ...          ...         ...
5365  56007    Wy      Carbon County       Carbon          WY
5366  56005    Wy    Campbell County     Campbell          WY
5367  56003    Wy    Big Horn County     Big Horn          WY
5368  56001    Wy      Albany County       Albany          WY
5369  56021    Wy     Laramie County      Laramie          WY

[4308 rows x 5 columns]

In [53]:
# Step 1: Find rows where the 5-column combo is duplicated
duplicate_mask = final_dataset.duplicated(subset=['FIPS', 'State', 'County', 'County_file7', 'State_file7'], keep=False)

# Step 2: Filter those rows
duplicate_rows = final_dataset[duplicate_mask]

# Step 3: Group by those 5 columns to find exact duplicate groups
exact_duplicates = duplicate_rows.groupby(['FIPS', 'State', 'County', 'County_file7', 'State_file7']).filter(lambda x: len(x) > 1)

# Step 4: Display the exact duplicates (you can also save to Excel)
print(exact_duplicates[['FIPS', 'State', 'County', 'County_file7', 'State_file7']])

       FIPS State             County County_file7 State_file7
1012  21157    Ky    Marshall County     Marshall          KY
1013  21159    Ky      Martin County       Martin          KY
1014  21161    Ky       Mason County        Mason          KY
1015  21163    Ky       Meade County        Meade          KY
1016  21173    Ky  Montgomery County   Montgomery          KY
...     ...   ...                ...          ...         ...
5365  56007    Wy      Carbon County       Carbon          WY
5366  56005    Wy    Campbell County     Campbell          WY
5367  56003    Wy    Big Horn County     Big Horn          WY
5368  56001    Wy      Albany County       Albany          WY
5369  56021    Wy     Laramie County      Laramie          WY

[4240 rows x 5 columns]

In [55]:
# Step 1: Filter only rows for State 'Ak'
ak_data = final_dataset[final_dataset['State'] == 'Ak']

# Step 2: Find duplicates based on 5-column combination
duplicate_mask = ak_data.duplicated(subset=['FIPS', 'State', 'County', 'County_file7', 'State_file7'], keep=False)
ak_duplicates = ak_data[duplicate_mask]

# Step 3: Group and filter to show only those with true duplicates
ak_exact_duplicates = ak_duplicates.groupby(
    ['FIPS', 'State', 'County', 'County_file7', 'State_file7']
).filter(lambda x: len(x) > 1)

# Step 4: Display the result
print(ak_exact_duplicates[['FIPS', 'State', 'County', 'County_file7', 'State_file7']])

Empty DataFrame
Columns: [FIPS, State, County, County_file7, State_file7]
Index: []

In [57]:
ak = final_dataset[final_dataset['State'] == 'Ak']
duplicated_fips = ak[ak.duplicated(subset='FIPS', keep=False)]
print(duplicated_fips[['FIPS', 'County', 'County_file7']])

Empty DataFrame
Columns: [FIPS, County, County_file7]
Index: []

In [59]:
duplicated_county_combo = ak[ak.duplicated(subset=['County_file7', 'State_file7'], keep=False)]
print(duplicated_county_combo[['FIPS', 'County', 'County_file7', 'State_file7']])

   FIPS                    County County_file7 State_file7
1  2000                    Alaska          NaN         NaN
7  2063       Chugach Census Area          NaN         NaN
8  2066  Copper River Census Area          NaN         NaN

In [61]:
mismatch = ak[ak['County'].str.strip().str.lower() != ak['County_file7'].str.strip().str.lower()]
print(mismatch[['FIPS', 'County', 'County_file7']])

    FIPS                    County               County_file7
1   2000                    Alaska                        NaN
4   2020         Anchorage Borough     Anchorage Municipality
7   2063       Chugach Census Area                        NaN
8   2066  Copper River Census Area                        NaN
16  2110            Juneau Borough    Juneau City and Borough
19  2282           Yakutat Borough   Yakutat City and Borough
20  2275             Wrangell City  Wrangell City and Borough
24  2220             Sitka Borough     Sitka City and Borough
26  2195    Petersburg Census Area         Petersburg Borough

In [63]:
# Find duplicated rows based on FIPS, State, and County
duplicates_fips_state_county = final_dataset[
    final_dataset.duplicated(subset=['FIPS', 'State', 'County'], keep=False)
]

# Display the duplicated rows
print(duplicates_fips_state_county[['FIPS', 'State', 'County']])

       FIPS State             County
1012  21157    Ky    Marshall County
1013  21159    Ky      Martin County
1014  21161    Ky       Mason County
1015  21163    Ky       Meade County
1016  21173    Ky  Montgomery County
...     ...   ...                ...
5365  56007    Wy      Carbon County
5366  56005    Wy    Campbell County
5367  56003    Wy    Big Horn County
5368  56001    Wy      Albany County
5369  56021    Wy     Laramie County

[4308 rows x 3 columns]

In [65]:
# Count how many times each FIPS + State + County combo appears
duplicate_counts = final_dataset.groupby(['FIPS', 'State', 'County']).size().reset_index(name='Count')

# Filter to show only those with more than 1 occurrence
true_duplicates = duplicate_counts[duplicate_counts['Count'] > 1]

print(true_duplicates)

       FIPS State               County  Count
1023  21021    Ky         Boyle County      2
1024  21023    Ky       Bracken County      2
1025  21025    Ky     Breathitt County      2
1026  21027    Ky  Breckinridge County      2
1027  21029    Ky       Bullitt County      2
...     ...   ...                  ...    ...
3211  56037    Wy    Sweetwater County      2
3212  56039    Wy         Teton County      2
3213  56041    Wy         Uinta County      2
3214  56043    Wy      Washakie County      2
3215  56045    Wy        Weston County      2

[2154 rows x 4 columns]

In [67]:
# Filter for the specific FIPS, State, County
target_row = final_dataset[
    (final_dataset['FIPS'] == 21021) &
    (final_dataset['State'] == 'Ky') &
    (final_dataset['County'] == 'Boyle County')
]

# Show the full row
print(target_row)

       FIPS State        County  air_pollution_2020  air_pollution_2021  \
1088  21021    Ky  Boyle County           10.500000            8.700000
1133  21021    Ky  Boyle County            8.880902            8.880902

      air_pollution_2022  air_pollution_2023  air_pollution_2024  \
1088            8.700000            8.300000            8.880902
1133            8.880902            8.880902            8.300000

      air_pollution_mean  children_lunch_2020  ...  Diversity Index  \
1088            9.016180             0.566464  ...          0.28325
1133            8.764721                  NaN  ...          0.28325

      Hispanic or Latino Population  Non-Hispanic or Latino Population  \
1088                         1438.0                            29270.0
1133                         1438.0                            29270.0

      Hispanic or Latino Percentage  Non-Hispanic or Latino Percentage  \
1088                       4.682819                          95.317181
1133                       4.682819                          95.317181

      county  state  fmr_1_5yr_avg  State_file7  County_file7
1088    21.0   21.0          562.0           KY         Boyle
1133    21.0   21.0          562.0           KY         Boyle

[2 rows x 304 columns]

In [69]:
target_row.head()

,FIPS,State,County,air_pollution_2020,air_pollution_2021,air_pollution_2022,air_pollution_2023,air_pollution_2024,air_pollution_mean,children_lunch_2020,...,Diversity Index,Hispanic or Latino Population,Non-Hispanic or Latino Population,Hispanic or Latino Percentage,Non-Hispanic or Latino Percentage,county,state,fmr_1_5yr_avg,State_file7,County_file7
1088,21021,Ky,Boyle County,10.500000,8.700000,8.700000,8.300000,8.880902,9.016180,0.566464,...,0.28325,1438.0,29270.0,4.682819,95.317181,21.0,21.0,562.0,KY,Boyle
1133,21021,Ky,Boyle County,8.880902,8.880902,8.880902,8.880902,8.300000,8.764721,NaN,...,0.28325,1438.0,29270.0,4.682819,95.317181,21.0,21.0,562.0,KY,Boyle

In [71]:
# Step 1: Filter all matching rows
target_rows = final_dataset[
    (final_dataset['FIPS'] == 21021) &
    (final_dataset['State'] == 'Ky') &
    (final_dataset['County'] == 'Boyle County')
]

# Step 2: Find columns where there's more than one unique value
conflicting_columns = [col for col in target_rows.columns if target_rows[col].nunique(dropna=False) > 1]

# Step 3: Show only the conflicting columns for review
print(target_rows[conflicting_columns])

      air_pollution_2020  air_pollution_2021  air_pollution_2022  \
1088           10.500000            8.700000            8.700000
1133            8.880902            8.880902            8.880902

      air_pollution_2023  air_pollution_2024  air_pollution_mean  \
1088            8.300000            8.880902            9.016180
1133            8.880902            8.300000            8.764721

      children_lunch_2020  children_lunch_2021  children_lunch_2022  \
1088             0.566464              0.56115             0.569142
1133                  NaN                  NaN                  NaN

      children_lunch_2023  ...  uninsured_raw_value_2020  \
1088              0.54087  ...                  0.053249
1133                  NaN  ...                       NaN

      uninsured_raw_value_2021  uninsured_raw_value_2022  \
1088                  0.056376                   0.06563
1133                       NaN                       NaN

      uninsured_raw_value_2023  uninsured_raw_value_2024  uninsured_mean  \
1088                  0.065735                  0.060471        0.060292
1133                       NaN                       NaN             NaN

      violent_crime_2020  violent_crime_2021  violent_crime_2022  \
1088          145.324276          145.324276          145.324276
1133                 NaN                 NaN                 NaN

      violent_crime_mean
1088          145.324276
1133                 NaN

[2 rows x 257 columns]

In [73]:
# Find duplicated rows based on FIPS, State, and County
duplicates_fips_state_county = final_dataset[
    final_dataset.duplicated(subset=['FIPS', 'State', 'County'], keep=False)
]

# Display the duplicated rows with additional population columns
print(duplicates_fips_state_county[['FIPS', 'State', 'County', 'pop_2020', 'pop_2021', 'pop_2022', 'pop_2023', 'pop_2024']])

       FIPS State             County  pop_2020  pop_2021  pop_2022  pop_2023  \
1012  21157    Ky    Marshall County   31688.0   31810.0   31766.0   31717.0
1013  21159    Ky      Martin County   11250.0   11165.0   11095.0   10927.0
1014  21161    Ky       Mason County   17137.0   16952.0   16880.0   16857.0
1015  21163    Ky       Meade County   30028.0   30125.0   30028.0   30166.0
1016  21173    Ky  Montgomery County   28105.0   28218.0   28348.0   28531.0
...     ...   ...                ...       ...       ...       ...       ...
5365  56007    Wy      Carbon County   14508.0   14711.0   14527.0   14317.0
5366  56005    Wy    Campbell County   47146.0   46547.0   47049.0   47511.0
5367  56003    Wy    Big Horn County   11479.0   11641.0   11876.0   12061.0
5368  56001    Wy      Albany County   37115.0   37859.0   38361.0   38624.0
5369  56021    Wy     Laramie County  100733.0  100843.0  100860.0  101079.0

      pop_2024
1012   31734.0
1013   10696.0
1014   16956.0
1015   30442.0
1016   28771.0
...        ...
5365   14250.0
5366   47946.0
5367   12084.0
5368   39288.0
5369  101783.0

[4308 rows x 8 columns]

In [75]:
import pandas as pd

# Set the file path
file_path = '/Users/emilsafarov/Library/CloudStorage/OneDrive-Personal/CF/A6/1_sourceing_open_data/US project/Data/Output data/exercise_access.csv'

# Read the CSV into a DataFrame
exercise_access = pd.read_csv(file_path)

# Preview the first few rows
exercise_access.head()

,FIPS,State,County,exercise_access_2020,exercise_access_2021,exercise_access_2022,exercise_access_2023,exercise_access_2024,exercise_access_mean
0,00000,US,United States,0.841687,0.841687,0.797930,0.842386,0.841440,0.833026
1,01000,AL,Alabama,0.611123,0.611123,0.566371,0.609267,0.613338,0.602244
2,01001,AL,Autauga County,0.691301,0.691301,0.627586,0.555378,0.544920,0.622097
3,01003,AL,Baldwin County,0.737135,0.737135,0.745080,0.657358,0.631293,0.701601
4,01005,AL,Barbour County,0.531668,0.531668,0.498379,0.548428,0.548547,0.531738

In [77]:
# Find rows that are fully duplicated (every column identical)
duplicates = exercise_access[exercise_access.duplicated(keep=False)]

# Show the duplicated rows
print(duplicates)

Empty DataFrame
Columns: [FIPS, State, County, exercise_access_2020, exercise_access_2021, exercise_access_2022, exercise_access_2023, exercise_access_2024, exercise_access_mean]
Index: []